---
name: Composable workflow to run tests
description: runs a composable workflow to run tests
inputs:
  registry:
    description: The registry to push container images to.
    required: false
  username:
    description: The username for the registry.
    required: false
  token:
    description: The Github token to use.
    required: false
  image_name:
    description: The cloud image repository and name to use.
    required: false
    default: ghcr.io/calyptia/cloud
  image_tag:
    description: The image tag to use.
    required: false
    default: latest
  fluentbit_config_validator_api_key:
    description: Fluentbit config validator API key
    required: false
  fluentd_config_validator_api_key:
    description: Fluentd config validator API Key
    required: false
  smtp_username:
    description: SMTP username to test email notifications
    required: false
  smtp_password:
    description: SMTP password to test email notifications
    required: false
  go_version:
    description: Golang version to use for running tests
    required: false
    default: "1.17"
runs:
  using: "composite"
  steps:
    - name: Log in to the Container registry
      uses: docker/login-action@v1
      with:
        registry: ${{ inputs.registry }}
        username: ${{ github.actor }}
        password: ${{ inputs.token }}

    - uses: actions/setup-go@v2
      with:
        go-version: ${{ inputs.go_version }}

    - name: Go tests
      run: |
        echo ${{ env.PAT }} | docker login -u ${{ github.repository_owner }} --password-stdin ghcr.io
        docker pull ${{ env.TEST_CLOUD_IMAGE }}
        go test -v ./...
      shell: bash
      env:
        PAT: ${{ inputs.token }}
        TEST_CLOUD_IMAGE: ${{ inputs.registry }}/${{ inputs.image_name }}:${{ inputs.image_tag }}
        TEST_FLUENTBIT_CONFIG_VALIDATOR_API_KEY: ${{ inputs.fluentbit_config_validator_api_key }}
        TEST_FLUENTD_CONFIG_VALIDATOR_API_KEY: ${{ inputs.fluentd_config_validator_api_key }}
        TEST_SMTP_USERNAME: ${{ inputs.smtp_username }}
        TEST_SMTP_PASSWORD: ${{ inputs.smtp_password }}