openapi: 3.0.3
info:
  title: Calyptia Cloud API
  version: "1.0"
  description: HTTP API service of Calyptia Cloud
  contact:
    name: Calyptia
    email: hello@calyptia.com
    url: "https://cloud.calyptia.com"
  termsOfService: "https://calyptia.com/terms/"
servers:
  - url: "https://cloud-api.calyptia.com"
    description: prod
  - url: "https://cloud-api-dev.calyptia.com"
    description: dev
  - url: "http://localhost:{port}"
    description: local
    variables:
      port:
        default: "5000"
tags:
  - name: user
  - name: project
  - name: token
  - name: membership
  - name: invitation
  - name: agent
  - name: agent_config
  - name: aggregator
  - name: resource_profile
  - name: core_instance_check
  - name: ingest_check
  - name: pipeline
  - name: pipeline_config
  - name: pipeline_status
  - name: pipeline_file
  - name: pipeline_secret
  - name: pipeline_port
  - name: pipeline_check
  - name: pipeline_cluster_objects
  - name: config_validator
  - name: config_validator_v2
  - name: metric
  - name: environment
  - name: trace_session
  - name: trace_record
  - name: cluster_object
  - name: fleet

components:
  securitySchemes:
    user:
      type: http
      scheme: bearer
    project:
      name: X-Project-Token
      type: apiKey
      in: header
  schemas:
    UpdatePipelineClusterObjects:
      type: object
      properties:
        clusterObjectsIDs:
          type: array
          format: uuid
          items:
            type: string
    UpdateEnvironment:
      type: object
      properties:
        name:
          type: string
          nullable: true
          default: null
    CreateEnvironment:
      type: object
      properties:
        name:
          type: string
    Environment:
      type: object
      description: Environment model.
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
          description: DNS label format as of defined on RFC1123
          example: development
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    User:
      type: object
      description: User model.
      properties:
        id:
          type: string
          format: uuid
        email:
          type: string
          format: email
        name:
          type: string
          example: user
        avatarURL:
          type: string
          nullable: true
          default: null
          format: uri
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
      required:
        - id
        - email
        - name
        - avatarURL
        - createdAt
        - updatedAt
    ClusterObjectKind:
      type: string
      description: Kind of the kubernetes object
      default: namespace
      enum:
        - namespace
    CheckStatus:
      type: string
      description: The status of a check.
      default: new
      enum:
        - new
        - failed
        - running
        - ok
    PipelinePortProtocol:
      type: string
      description: Valid protocol types defined for a pipelines.
      enum:
        - tcp
        - udp
    Project:
      type: object
      description: Project model.
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
          example: my-project
        membersCount:
          type: integer
          minimum: 1
        agentsCount:
          type: integer
          minimum: 0
        aggregatorsCount:
          type: integer
          maximum: 0
        createdAt:
          type: string
          format: date-time
        membership:
          $ref: "#/components/schemas/Membership"
      required:
        - id
        - name
        - membersCount
        - agentsCount
        - aggregatorsCount
        - createdAt
    Token:
      type: object
      properties:
        id:
          type: string
          format: uuid
        token:
          type: string
          example: redacted
        name:
          type: string
          example: my-token
        createdAt:
          type: string
          format: date-time
      required:
        - id
        - token
        - name
        - createdAt
      description: Token model.
    Membership:
      type: object
      properties:
        id:
          type: string
          format: uuid
        roles:
          type: array
          nullable: true
          default: null
          uniqueItems: true
          items:
            type: string
            enum:
              - creator
              - admin
        createdAt:
          type: string
          format: date-time
        user:
          $ref: "#/components/schemas/User"
      required:
        - id
        - roles
        - createdAt
      description: Membership of a user in a project.
    Agent:
      type: object
      properties:
        id:
          type: string
          format: uuid
        fleetID:
          type: string
          format: uuid
          nullable: true
          default: null
        token:
          type: string
          example: redacted
        name:
          type: string
          example: my-agent
          format: hostname
        machineID:
          type: string
        type:
          type: string
          enum:
            - fluentbit
            - fluentd
        version:
          type: string
          example: v1.8.6
        edition:
          type: string
          enum:
            - community
            - enterprise
        flags:
          type: array
          nullable: true
          default: null
          uniqueItems: true
          items:
            type: string
        tags:
          type: array
          nullable: true
          default: null
          uniqueItems: true
          items:
            type: string
        rawConfig:
          type: string
        metadata:
          type: object
          nullable: true
          default: null
        firstMetricsAddedAt:
          type: string
          format: date-time
          nullable: true
          default: null
        lastMetricsAddedAt:
          type: string
          format: date-time
          nullable: true
          default: null
        metricsCount:
          type: integer
          minimum: 0
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        environmentName:
          type: string
          default: default
          example: default
      required:
        - id
        - fleetID
        - token
        - name
        - machineID
        - type
        - version
        - edition
        - flags
        - rawConfig
        - metadata
        - environmentName
        - firstMetricsAddedAt
        - lastMetricsAddedAt
        - metricsCount
        - createdAt
        - updatedAt
      description: Agent model.
    AgentConfig:
      type: object
      description: Agent configuration history entry.
      properties:
        id:
          type: string
          format: uuid
        rawConfig:
          type: string
        createdAt:
          type: string
          format: date-time
      required:
        - id
        - rawConfig
        - createdAt
    Fleet:
      type: object
      description: Group of agents sharing the same config.
      properties:
        id:
          type: string
          format: uuid
        projectID:
          type: string
          format: uuid
        name:
          type: string
          example: my-fleet
        minFluentBitVersion:
          type: string
          example: v1.0.0
        config:
          $ref: "#/components/schemas/FluentBitConfig"
        tags:
          type: array
          items:
            type: string
            example: dev
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
      required:
        - id
        - projectID
        - name
        - minFluentBitVersion
        - config
        - tags
        - createdAt
        - updatedAt
    CreateFleet:
      type: object
      properties:
        name:
          type: string
          maxLength: 32
          example: my-fleet
        minFluentBitVersion:
          type: string
          description: semver
          example: v1.0.0
        config:
          $ref: "#/components/schemas/FluentBitConfig"
        tags:
          type: array
          items:
            type: string
            pattern: ^[a-z]+$
            example: dev
        skipConfigValidation:
          type: boolean
          default: false
      required:
        - name
        - minFluentBitVersion
        - config
        - tags
        - skipConfigValidation
    CreatedFleet:
      type: object
      properties:
        id:
          type: string
          format: uuid
        createdAt:
          type: string
          format: date-time
      required:
        - id
        - createdAt
    UpdateFleet:
      type: object
      properties:
        name:
          type: string
          maxLength: 32
          nullable: true
          default: null
          example: updated-fleet
        config:
          $ref: "#/components/schemas/FluentBitConfig"
          nullable: true
          default: null
        tags:
          type: array
          items:
            type: string
            pattern: ^[a-z]+$
            example: updated
          nullable: true
          default: null
        skipConfigValidation:
          type: boolean
          default: false
      required:
        - skipConfigValidation
    UpdatedFleet:
      type: object
      properties:
        updatedAt:
          type: string
          format: date-time
      required:
        - updatedAt
    DeletedFleet:
      type: object
      properties:
        deleted:
          type: boolean
        deletedAt:
          type: string
          format: date-time
          nullable: true
          default: null
      required:
        - deleted
        - deletedAt
    FluentBitConfig:
      type: object
      description: Fluent-bit configuration in JSON format. Shares the same structure as the YAML config format.
      properties:
        env:
          type: object
          example:
            FOO: bar
        includes:
          type: array
          items:
            type: string
            example: another/config.yaml
        service:
          type: object
          additionalProperties: true
          example:
            log_level: error
        customs:
          type: array
          items:
            $ref: "#/components/schemas/PropertiesByName"
          example:
            - calyptia:
                name: calyptia
                api_key: secret
        pipeline:
          $ref: "#/components/schemas/FluentBitConfigPipeline"
    PropertiesByName:
      type: object
      additionalProperties:
        type: object
      maxItems: 1
    FluentBitConfigPipeline:
      type: object
      properties:
        inputs:
          type: array
          items:
            $ref: "#/components/schemas/PropertiesByName"
          example:
            - syslog:
                name: syslog
                port: 5140
        parsers:
          type: array
          items:
            $ref: "#/components/schemas/PropertiesByName"
          example:
            - dummy_test:
                name: dummy_test
                format: regex
        filters:
          type: array
          items:
            $ref: "#/components/schemas/PropertiesByName"
          example:
            - throttle:
                name: throttle
                match: syslog
        outputs:
          type: array
          items:
            $ref: "#/components/schemas/PropertiesByName"
          example:
            - stdout:
                name: stdout
                match: "*"
    AggregatorPingResponse:
      type: object
      description: Aggregator Ping Response model.
      properties:
        nextPing:
          type: string
          format: duration
          default: "30s"
    MetadataGCP:
      type: object
      description: |
        Metadata model for GCP metadata fields accepted by a Core Instance.
        See: https://cloud.google.com/compute/docs/metadata/default-metadata-values.
      properties:
        gcp.project_number:
          type: number
        gcp.project_id:
          type: string
        gcp.instance_id:
          type: number
        gcp.instance_image:
          type: string
        gcp.machine_type:
          type: string
        gcp.instance_name:
          type: string
        gcp.zone:
          type: string
    MetadataK8S:
      type: object
      description: |
        Metadata model for kubernetes metadata fields accepted by a Core Instance.
        See: https://github.com/kubernetes/website/blob/60390ff3c0ef0043a58568ad2e4c2b7634028074/content/en/examples/pods/inject/dapi-volume.yaml#L5
      properties:
        k8s.namespace:
          type: string
        k8s.cluster_name:
          type: string
        k8s.zone:
          type: string
        k8s.cluster_version:
          type: string
        k8s.cluster_platform:
          type: string
    MetadataAWS:
      type: object
      description: |
        Metadata model for AWS metadata fields accepted by a Core Instance.
        See: https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/instancedata-data-retrieval.html
      properties:
        aws.ami_id:
          type: string
        aws.account_id:
          type: string
        aws.hostname:
          type: string
        aws.vpc_id:
          type: string
        aws.private_ipv4:
          type: string
        aws.public_ipv4:
          type: string
        aws.ec2_instance_id:
          type: string
        aws.ec2_instance_type:
          type: string
        aws.az:
          type: string
    CoreInstanceMetadata:
      type: object
      description: Core Instance Metadata model.
      anyOf:
        - $ref: "#/components/schemas/MetadataAWS"
        - $ref: "#/components/schemas/MetadataGCP"
        - $ref: "#/components/schemas/MetadataK8S"
    Aggregator:
      type: object
      description: Aggregator model. (to be renamed as CoreInstance).
      properties:
        id:
          type: string
          format: uuid
        token:
          type: string
          example: redacted
        name:
          type: string
          format: hostname
          example: my-aggregator
        version:
          type: string
          example: v0.1.12
        status:
          type: string
          description: |
            Running status of the aggregator instance in reference to the last ping.
            Refer to https://pkg.go.dev/github.com/calyptia/api@main/types#pkg-constants
            if looking up for the current timeout defaults.
          enum:
            - running
            - waiting
            - unreachable
        metadata:
          $ref: "#/components/schemas/CoreInstanceMetadata"
        pipelinesCount:
          type: integer
          minimum: 0
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        tags:
          type: array
          nullable: true
          default: null
          uniqueItems: true
          items:
            type: string
        environmentName:
          type: string
          default: default
          example: default
        skipServiceCreation:
          type: boolean
          default: false
      required:
        - id
        - token
        - name
        - pipelinesCount
        - environmentName
        - skipServiceCreation
        - createdAt
        - updatedAt
    ResourceProfile:
      type: object
      description: Resource profile model.
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
          example: my-resource-profile
        storageMaxChunksUp:
          type: integer
          format: int32
        storageSyncFull:
          type: boolean
        storageBacklogMemLimit:
          type: string
          example: 1Mi
        storageVolumeSize:
          type: string
          example: 2Mi
        storageMaxChunksPause:
          type: boolean
        cpuBufferWorkers:
          type: integer
          format: int32
        cpuLimit:
          type: string
          example: 3Mi
        cpuRequest:
          type: string
          example: 4Mi
        memoryLimit:
          type: string
          example: 5Mi
        memoryRequest:
          type: string
          example: 6Mi
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
      required:
        - id
        - name
        - storageMaxChunksUp
        - storageSyncFull
        - storageBacklogMemLimit
        - storageVolumeSize
        - storageMaxChunksPause
        - cpuBufferWorkers
        - cpuLimit
        - cpuRequest
        - memoryLimit
        - memoryRequest
        - createdAt
        - updatedAt
    Pipeline:
      type: object
      description: Pipeline model.
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
          description: DNS label format as of defined on RFC1123
          example: my-pipeline
        kind:
          type: string
          description: Kind of deployment used when deploying this pipeline
          default: deployment
          enum:
            - daemonSet
            - deployment
        config:
          $ref: "#/components/schemas/PipelineConfig"
        configSections:
          type: array
          items:
            $ref: "#/components/schemas/ConfigSection"
        status:
          $ref: "#/components/schemas/PipelineStatus"
        resourceProfile:
          $ref: "#/components/schemas/ResourceProfile"
        image:
          type: string
          example: ghcr.io/calyptia/core/calyptia-fluent-bit:23.1.2
          nullable: true
          default: null
        replicasCount:
          type: integer
          minimum: 0
        checksTotal:
          type: integer
          minimum: 0
          description: total number of checks associated with the pipeline.
        checksOK:
          type: integer
          minimum: 0
          description: total number of checks with ok status.
        checksRunning:
          type: integer
          minimum: 0
          description: total number of checks with running status.
        tags:
          type: array
          nullable: true
          default: null
          uniqueItems: true
          items:
            type: string
        metadata:
          type: object
          nullable: true
          default: null
          properties:
            nodeSelector:
              type: object
              nullable: true
              default: null
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
      required:
        - id
        - name
        - config
        - configSections
        - status
        - resourceProfile
        - image
        - replicasCount
        - metadata
        - createdAt
        - updatedAt
    PipelineConfig:
      type: object
      description: Pipeline configuration history entry.
      properties:
        id:
          type: string
          format: uuid
        rawConfig:
          type: string
        configFormat:
          type: string
          enum:
            - ini
            - json
            - yaml
        createdAt:
          type: string
          format: date-time
      required:
        - id
        - rawConfig
        - configFormat
        - createdAt
    PipelineStatus:
      type: object
      description: Pipeline status history entry.
      properties:
        id:
          type: string
          format: uuid
        config:
          $ref: "#/components/schemas/AgentConfig"
        status:
          type: string
          enum:
            - NEW
            - FAILED
            - STARTING
            - STARTED
            - SCALING
            - CHECKS_OK
            - CHECKS_FAILED
        events:
          type: array
          items:
            $ref: "#/components/schemas/PipelineEvent"
        createdAt:
          type: string
          format: date-time
      required:
        - id
        - config
        - status
        - createdAt
    PipelineEvent:
      type: object
      description: Pipeline Status event.
      properties:
        source:
          type: string
          enum:
            - k8s:deployment
            - k8s:pod
        reason:
          type: string
        message:
          type: string
        loggedAt:
          type: string
          format: date-time
      required:
        - source
        - reason
        - loggedAt
    PipelineCheck:
      type: object
      description: Pipeline check model.
      properties:
        id:
          type: string
          format: uuid
        protocol:
          $ref: "#/components/schemas/PipelinePortProtocol"
        status:
          $ref: "#/components/schemas/CheckStatus"
        retries:
          type: number
          default: 3
          description: number of retries for the check before marking it as failed
        port:
          type: number
          minimum: 0
          maximum: 65535
          description: valid 0-65535 port number
        host:
          type: string
          description: DNS label format as of defined on RFC1123 or an IPv4 address.
          example: localhost
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
      required:
        - id
        - protocol
        - status
        - retries
        - port
        - host
        - createdAt
        - updatedAt
    CoreInstanceCheck:
      type: object
      description: Core instance(aggregator) check model.
      properties:
        id:
          type: string
          format: uuid
        protocol:
          $ref: "#/components/schemas/PipelinePortProtocol"
        status:
          $ref: "#/components/schemas/CheckStatus"
        retries:
          type: number
          default: 0
          description: number of retries for the check before marking it as failed
        host:
          type: string
          description: DNS label format as of defined on RFC1123 or an IPv4 address.
          example: localhost
        port:
          type: number
          minimum: 0
          maximum: 65535
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
      required:
        - id
        - protocol
        - status
        - retries
        - host
        - port
        - createdAt
        - updatedAt
    CreateClusterObject:
      type: object
      description: |
        Request body to create a new cluster object for a core instance.
      properties:
        name:
          type: string
          format: |
            kubernetes valid hostname or namespace name.
            https://kubernetes.io/docs/reference/labels-annotations-taints/
        kind:
          $ref: "#/components/schemas/ClusterObjectKind"
      required:
        - name
        - kind
    UpdateClusterObject:
      type: object
      description: |
        Request body to update a cluster object.
      properties:
        name:
          type: string
          format: |
            kubernetes valid hostname or namespace name.
            https://kubernetes.io/docs/reference/labels-annotations-taints/
        kind:
          $ref: "#/components/schemas/ClusterObjectKind"
    UpdatedClusterObject:
      type: object
      properties:
        updatedAt:
          type: string
          format: date-time
      required: [updatedAt]
    CreatedClusterObject:
      type: object
      description: Response body for for a newly created cluster object.
      properties:
        id:
          type: string
          format: uuid
        createdAt:
          type: string
          format: date-time
      required: [id, createdAt]
    ClusterObject:
      type: object
      description: A kubernetes cluster object that belongs to a given core instance.
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
          format: kubernetes label
        kind:
          $ref: "#/components/schemas/ClusterObjectKind"
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
      required:
        - id
        - name
        - kind
        - createdAt
        - updatedAt
    IngestCheck:
      type: object
      description: Core Ingest check model.
      properties:
        id:
          type: string
          format: uuid
        config:
          type: string
          format: fluent-bit configuration
        status:
          $ref: "#/components/schemas/CheckStatus"
        retries:
          type: number
          default: 0
          description: number of retries for the check before marking it as failed
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
      required:
        - id
        - config
        - status
        - retries
        - createdAt
        - updatedAt
    PipelineFile:
      type: object
      description: Pipeline file model.
      properties:
        id:
          type: string
          format: uuid
        processingRuleID:
          type: string
          format: uuid
          nullable: true
          default: null
        name:
          type: string
          example: myfile
        contents:
          type: string
          format: byte
        encrypted:
          type: boolean
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
      required:
        - id
        - processingRuleID
        - name
        - contents
        - encrypted
        - createdAt
        - updatedAt
    PipelineSecret:
      type: object
      description: Pipeline secret model.
      properties:
        id:
          type: string
          format: uuid
        key:
          type: string
          example: mysecret
        value:
          type: string
          format: byte
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
      required:
        - id
        - key
        - value
        - createdAt
        - updatedAt
    PipelinePort:
      type: object
      description: Pipeline port model.
      properties:
        id:
          type: string
          format: uuid
        protocol:
          type: string
          example: tcp
        frontendPort:
          type: integer
          format: int32
          minimum: 0
        backendPort:
          type: integer
          format: int32
          minimum: 0
        endpoint:
          type: string
        pluginID:
          type: string
          nullable: true
          default: null
          example: forward.0
        pluginName:
          type: string
          nullable: true
          default: null
          example: forward
        pluginAlias:
          type: string
          nullable: true
          default: null
          example: myforwardinput
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
      required:
        - id
        - protocol
        - frontendPort
        - backendPort
        - endpoint
        - pluginID
        - pluginName
        - pluginAlias
        - createdAt
        - updatedAt
    ProjectMetrics:
      type: object
      description: Project metrics model.
      properties:
        measurements:
          type: object
          additionalProperties:
            type: object
            properties:
              totals:
                type: object
                additionalProperties:
                  type: number
                  format: float
                  nullable: true
                  default: null
              plugins:
                type: object
                additionalProperties:
                  $ref: "#/components/schemas/Metrics"
            required:
              - totals
              - plugins
        topPlugins:
          type: object
          additionalProperties:
            type: object
            additionalProperties:
              type: number
              format: float
              nullable: true
              default: null
      required:
        - measurements
        - topPlugins
    AgentMetrics:
      type: object
      description: Agent metrics model.
      properties:
        measurements:
          type: object
          additionalProperties:
            type: object
            properties:
              plugins:
                type: object
                additionalProperties:
                  $ref: "#/components/schemas/Metrics"
              totals:
                type: object
                additionalProperties:
                  type: array
                  items:
                    $ref: "#/components/schemas/MetricFields"
            required:
              - plugins
              - totals
      required:
        - measurements
    AggregatorMetrics:
      type: object
      description: Agent metrics model.
      properties:
        measurements:
          type: object
          additionalProperties:
            type: object
            properties:
              metrics:
                type: object
                additionalProperties:
                  type: array
                  items:
                    $ref: "#/components/schemas/MetricFields"
              totals:
                type: object
                additionalProperties:
                  type: array
                  items:
                    $ref: "#/components/schemas/MetricFields"
            required:
              - metrics
              - totals
      required:
        - measurements
      example: |
        {
          "measurements": {
            "fluentbit_filter": {
              "metrics": {
                "drop_records": [
                  {
                    "time": "2022-02-07T11:00:00Z",
                    "value": 0
                  },
                  {
                    "time": "2022-02-07T12:00:00Z",
                    "value": 0
                  },
                  {
                    "time": "2022-02-07T12:55:20.003028413Z",
                    "value": 119
                  }
                ],
                "emit_records": [
                  {
                    "time": "2022-02-07T11:00:00Z",
                    "value": 0
                  },
                  {
                    "time": "2022-02-07T12:00:00Z",
                    "value": 0
                  },
                  {
                    "time": "2022-02-07T12:55:20.003028413Z",
                    "value": 119
                  }
                ]
              },
              "totals": {
                "drop_records": [
                  {
                    "time": "2022-02-07T12:55:04.78743322Z",
                    "value": 119
                  }
                ],
                "emit_records": [
                  {
                    "time": "2022-02-07T12:55:04.787434277Z",
                    "value": 119
                  }
                ]
              }
            },
            "fluentbit_input": {
              "metrics": {
                "bytes": [
                  {
                    "time": "2022-02-07T11:00:00Z",
                    "value": 0
                  },
                  {
                    "time": "2022-02-07T12:00:00Z",
                    "value": 0
                  },
                  {
                    "time": "2022-02-07T12:55:20.029124832Z",
                    "value": 4760
                  }
                ],
                "records": [
                  {
                    "time": "2022-02-07T11:00:00Z",
                    "value": 0
                  },
                  {
                    "time": "2022-02-07T12:00:00Z",
                    "value": 0
                  },
                  {
                    "time": "2022-02-07T12:55:20.029124832Z",
                    "value": 119
                  }
                ]
              },
              "totals": {
                "bytes": [
                  {
                    "time": "2022-02-07T12:55:04.787450155Z",
                    "value": 4760
                  }
                ],
                "records": [
                  {
                    "time": "2022-02-07T12:55:04.787450155Z",
                    "value": 119
                  }
                ]
              }
            },
            "fluentbit_output": {
              "metrics": {
                "bytes": [
                  {
                    "time": "2022-02-07T11:00:00Z",
                    "value": 0
                  },
                  {
                    "time": "2022-02-07T12:00:00Z",
                    "value": 0
                  },
                  {
                    "time": "2022-02-07T12:55:20.059227599Z",
                    "value": 4560
                  }
                ],
                "records": [
                  {
                    "time": "2022-02-07T11:00:00Z",
                    "value": 0
                  },
                  {
                    "time": "2022-02-07T12:00:00Z",
                    "value": 0
                  },
                  {
                    "time": "2022-02-07T12:55:20.059227599Z",
                    "value": 114
                  }
                ]
              },
              "totals": {
                "bytes": [
                  {
                    "time": "2022-02-07T12:55:00.785234434Z",
                    "value": 4560
                  }
                ],
                "records": [
                  {
                    "time": "2022-02-07T12:55:00.785234434Z",
                    "value": 114
                  }
                ]
              }
            }
          }
        }
    AggregatorPipelinesMetrics:
      type: object
      description: Map of metrics/error for each pipeline ID.
      additionalProperties:
        type: object
        properties:
          data:
            $ref: "#/components/schemas/AgentMetrics"
          error:
            type: string
            nullable: true
            default: null
        required: [data, error]
    Metrics:
      type: object
      description: Metrics model.
      properties:
        metrics:
          type: object
          additionalProperties:
            type: array
            items:
              $ref: "#/components/schemas/MetricFields"
      required:
        - metrics
    MetricFields:
      type: object
      description: Metric fields model.
      properties:
        time:
          type: string
          format: date-time
        value:
          type: number
          format: float
          nullable: true
          default: null
      required:
        - time
        - value
    CreateProject:
      description: Create project request body.
      type: object
      properties:
        name:
          type: string
          example: new-project
      required:
        - name
    UpdateProject:
      description: Update project request body.
      type: object
      properties:
        name:
          type: string
          example: new-project
          nullable: true
          default: null
    CreateToken:
      description: Create token request body.
      type: object
      properties:
        name:
          type: string
          example: new-token
      required:
        - name
    UpdateToken:
      description: Update token request body.
      type: object
      properties:
        name:
          type: string
          example: new-token
          nullable: true
          default: null
    CreateInvitation:
      description: Create invitation request body.
      type: object
      properties:
        email:
          type: string
          format: email
        redirectURI:
          type: string
          format: uri
      required:
        - email
        - redirectURI
    AcceptInvitation:
      description: Accept invitation request body.
      type: object
      properties:
        token:
          type: string
          example: redacted
      required:
        - token
    RegisterAgent:
      description: Register agent request body.
      type: object
      properties:
        fleetID:
          type: string
          format: uuid
          nullable: true
          default: null
        name:
          type: string
          example: new-agent
          format: hostname
        machineID:
          type: string
        type:
          type: string
          enum:
            - fluentbit
            - fluentd
        version:
          type: string
          example: v1.8.6
        edition:
          type: string
          enum:
            - community
            - enterprise
        flags:
          type: array
          nullable: true
          default: null
          items:
            type: string
        rawConfig:
          type: string
        metadata:
          type: object
          nullable: true
          default: null
        environmentID:
          type: string
          nullable: true
          default: null
          description: environment ID to associate this agent with.
      required:
        - name
        - machineID
        - type
        - version
        - edition
        - flags
        - rawConfig
    UpdateAgent:
      description: Update agent request body.
      type: object
      properties:
        fleetID:
          type: string
          format: uuid
          nullable: true
          default: null
        name:
          type: string
          example: new-agent
          format: hostname
          nullable: true
          default: null
        version:
          type: string
          example: v1.8.6
          nullable: true
          default: null
        edition:
          type: string
          enum:
            - community
            - enterprise
          nullable: true
          default: null
        flags:
          type: array
          nullable: true
          default: null
          items:
            type: string
        rawConfig:
          type: string
          nullable: true
          default: null
        metadata:
          type: object
          nullable: true
          default: null
        environmentID:
          type: string
          nullable: true
          default: null
          description: environment ID to associate this agent with.
    CreateAggregator:
      description: Create aggregator request body.
      type: object
      properties:
        name:
          type: string
          format: hostname
          example: new-aggregator
        version:
          type: string
          example: v0.1.12
        addHealthCheckPipeline:
          type: boolean
        clusterLogging:
          type: boolean
          description: Enable cluster-logging functionality on this aggregator instance.
        healthCheckPipelinePort:
          type: integer
          format: int32
          minimum: 0
        metadata:
          type: object
          nullable: true
          default: null
        environmentID:
          type: string
          nullable: true
          default: null
          description: environment ID to associate this aggregator with.
        skipServiceCreation:
          type: boolean
          nullable: true
          default: null
          description: |
            If true, kubernetes service creation will be skipped for all pipelines
            that exists on this core_instance.
      required:
        - name
        - version
        - addHealthCheckPipeline
        - healthCheckPipelinePort
    UpdateAggregator:
      description: Update aggregator request body.
      type: object
      properties:
        name:
          type: string
          format: hostname
          example: new-aggregator
          nullable: true
          default: null
        clusterLogging:
          type: boolean
          description: enable or disable cluster-logging functionality.
          nullable: true
          default: null
        version:
          type: string
          example: v0.1.12
          nullable: true
          default: null
        tags:
          type: array
          nullable: true
          default: null
          items:
            type: string
        metadata:
          $ref: "#/components/schemas/CoreInstanceMetadata"
        environmentID:
          type: string
          nullable: true
          default: null
          description: environment ID to associate this aggregator with.
        skipServiceCreation:
          type: boolean
          nullable: true
          default: null
          description: |
            If true, kubernetes service creation will be skipped for all pipelines
            that exists on this core_instance.
    CreateResourceProfile:
      description: Create resource profile request body.
      type: object
      properties:
        name:
          type: string
          example: my-resource-profile
        storageMaxChunksUp:
          type: integer
          format: int32
        storageSyncFull:
          type: boolean
        storageBacklogMemLimit:
          type: string
          example: 1Mi
        storageVolumeSize:
          type: string
          example: 2Mi
        storageMaxChunksPause:
          type: boolean
        cpuBufferWorkers:
          type: integer
          format: int32
        cpuLimit:
          type: string
          example: 3Mi
        cpuRequest:
          type: string
          example: 4Mi
        memoryLimit:
          type: string
          example: 5Mi
        memoryRequest:
          type: string
          example: 6Mi
      required:
        - name
        - storageMaxChunksUp
        - storageSyncFull
        - storageBacklogMemLimit
        - storageVolumeSize
        - storageMaxChunksPause
        - cpuBufferWorkers
        - cpuLimit
        - cpuRequest
        - memoryLimit
        - memoryRequest
    UpdateResourceProfile:
      description: Update resource profile request body.
      type: object
      properties:
        name:
          type: string
          example: my-resource-profile
          nullable: true
          default: null
        storageMaxChunksUp:
          type: integer
          format: int32
          nullable: true
          default: null
        storageSyncFull:
          type: boolean
          nullable: true
          default: null
        storageBacklogMemLimit:
          type: string
          example: 1Mi
          nullable: true
          default: null
        storageVolumeSize:
          type: string
          example: 2Mi
          nullable: true
          default: null
        storageMaxChunksPause:
          type: boolean
          nullable: true
          default: null
        cpuBufferWorkers:
          type: integer
          format: int32
          nullable: true
          default: null
        cpuLimit:
          type: string
          example: 3Mi
          nullable: true
          default: null
        cpuRequest:
          type: string
          example: 4Mi
          nullable: true
          default: null
        memoryLimit:
          type: string
          example: 5Mi
          nullable: true
          default: null
        memoryRequest:
          type: string
          example: 6Mi
          nullable: true
          default: null
    CreatePipeline:
      description: Create pipeline request body.
      type: object
      properties:
        name:
          type: string
          description: DNS label format as of defined on RFC1123
          example: new-pipeline
        kind:
          type: string
          description: Kind of deployment used when deploying this pipeline
          default: deployment
          enum:
            - daemonSet
            - deployment
        replicasCount:
          type: integer
          minimum: 0
        rawConfig:
          type: string
        configFormat:
          type: string
          enum:
            - ini
            - json
            - yaml
        image:
          type: string
          example: ghcr.io/calyptia/core/calyptia-fluent-bit:23.1.2
          nullable: true
          default: null
        secrets:
          type: array
          nullable: true
          default: null
          items:
            $ref: "#/components/schemas/CreatePipelineSecret"
        files:
          type: array
          nullable: true
          default: null
          items:
            $ref: "#/components/schemas/CreatePipelineFile"
        resourceProfile:
          type: string
          example: my-resource-profile
        noAutoCreateChecksFromConfig:
          type: boolean
          default: false
          description: |
            If true, no Pipeline checks will be auto-generated from
            the configuration.
        autoCreateChecksFromConfig:
          type: boolean
          deprecated: true
          default: false
          description: |
            If true, this will automatically create a set of Pipeline checks
            to validate that the configured output services are reachable.
        waitForChecksBeforeDeploying:
          type: boolean
          default: false
          description: |
            If set to true:

            If all checks associated with the pipeline run successfully, the status of
            the pipeline will be switched to CHECKS_OK and the deployment will be executed.

            If any of the checks associated with the pipeline fails, the status of
            the pipeline will be switched to CHECKS_FAILED and the deployment of the pipeline
            will be blocked.

            If set to false (default):

            If all checks associated with the pipeline run successfully, the status of
            the pipeline will be switched to CHECKS_OK and the deployment will be executed.

            If any of the checks associated with the pipeline fails, the status of
            the pipeline will be switched to CHECKS_FAILED and the deployment of the pipeline
            will be executed.
        noAutoCreateEndpointsFromConfig:
          type: boolean
          default: false
          description: if true, no ports will be automatically generated from the configuration.
        autoCreatePortsFromConfig:
          type: boolean
          default: false
          deprecated: true
        skipConfigValidation:
          type: boolean
        metadata:
          type: object
          nullable: true
          default: null
          properties:
            nodeSelector:
              type: object
              nullable: true
              default: null
      required:
        - name
        - replicasCount
        - rawConfig
        - image
        - secrets
        - files
        - resourceProfile
        - skipConfigValidation
    UpdatePipeline:
      description: Update pipeline request body.
      type: object
      properties:
        name:
          type: string
          description: DNS label format as of defined on RFC1123
          example: new-pipeline
          nullable: true
          default: null
        kind:
          type: string
          description: Kind of deployment used when deploying this pipeline
          default: deployment
          enum:
            - daemonSet
            - deployment
        replicasCount:
          type: integer
          minimum: 0
          nullable: true
          default: null
        rawConfig:
          type: string
          nullable: true
          default: null
        configFormat:
          type: string
          enum:
            - ini
            - json
            - yaml
          nullable: true
          default: null
        image:
          type: string
          example: ghcr.io/calyptia/core/calyptia-fluent-bit:23.1.2
          nullable: true
          default: null
        secrets:
          type: array
          nullable: true
          default: null
          items:
            $ref: "#/components/schemas/UpdatePipelineSecret"
        files:
          type: array
          nullable: true
          default: null
          items:
            $ref: "#/components/schemas/UpdatePipelineFile"
        resourceProfile:
          type: string
          example: my-resource-profile
          nullable: true
          default: null
        noAutoCreateEndpointsFromConfig:
          type: boolean
          nullable: true
          default: null
        noAutoCreateChecksFromConfig:
          type: boolean
          nullable: true
          default: null
        autoCreatePortsFromConfig:
          type: boolean
          nullable: true
          default: null
          deprecated: true
        autoCreateChecksFromConfig:
          type: boolean
          nullable: true
          default: null
          deprecated: true
        skipConfigValidation:
          type: boolean
          default: false
        checksBeforeDeploying:
          type: boolean
          nullable: true
          default: null
          description: |
            If set to true:

            If all checks associated with the pipeline run successfully, the status of
            the pipeline will be switched to CHECKS_OK and the deployment will be executed.

            If any of the checks associated with the pipeline fails, the status of
            the pipeline will be switched to CHECKS_FAILED and the deployment of the pipeline
            will be blocked.

            If set to false (default):

            If all checks associated with the pipeline run successfully, the status of
            the pipeline will be switched to CHECKS_OK and the deployment will be executed.

            If any of the checks associated with the pipeline fails, the status of
            the pipeline will be switched to CHECKS_FAILED and the deployment of the pipeline
        status:
          type: string
          nullable: true
          default: null
          enum:
            - NEW
            - FAILED
            - STARTING
            - STARTED
            - SCALING
            - CHECKS_OK
            - CHECKS_FAILED
        events:
          type: array
          nullable: true
          default: null
          items:
            $ref: "#/components/schemas/PipelineEvent"
        metadata:
          type: object
          nullable: true
          default: null
          properties:
            nodeSelector:
              type: object
              nullable: true
              default: null
    CreatePipelineCheck:
      description: Create pipeline check request body.
      type: object
      properties:
        protocol:
          $ref: "#/components/schemas/PipelinePortProtocol"
        status:
          $ref: "#/components/schemas/CheckStatus"
        retries:
          type: number
          default: 3
          description: number of retries for the check before marking it as failed
        host:
          type: string
          description: DNS label format as of defined on RFC1123 or an IPv4 address.
          example: localhost
        port:
          type: number
          minimum: 0
          maximum: 65535
          description: valid 0-65535 port number
      required:
        - protocol
        - host
        - port
    CreateCoreInstanceCheck:
      description: Create core instance (aggregator) check request body.
      type: object
      properties:
        protocol:
          $ref: "#/components/schemas/PipelinePortProtocol"
        status:
          $ref: "#/components/schemas/CheckStatus"
        retries:
          type: number
          default: 3
          description: number of retries for the check before marking it as failed
        host:
          type: string
          description: DNS label format as of defined on RFC1123 or an IPv4 address.
          example: localhost
        port:
          type: number
          description: valid 0-65535 port number
      required:
        - protocol
        - host
        - port
    CreateIngestCheck:
      description: Create core instance Ingest check request body.
      type: object
      properties:
        status:
          $ref: "#/components/schemas/CheckStatus"
        retries:
          type: number
          default: 3
          description: number of retries for the check before marking it as failed
        configSectionID:
          type: string
          description: config section UUID to be used on this Ingest check.
          format: uuid
      required:
        - status
        - retries
        - configSectionID
    CreatePipelineFile:
      description: Create pipeline file request body.
      type: object
      properties:
        name:
          type: string
          example: newfile
        contents:
          type: string
          format: byte
        encrypted:
          type: boolean
      required:
        - name
        - contents
        - encrypted
    UpdatePipelineFile:
      description: Update pipeline file request body.
      type: object
      properties:
        name:
          type: string
          example: newfile
          nullable: true
          default: null
        contents:
          type: string
          format: byte
          nullable: true
          default: null
        encrypted:
          type: boolean
          nullable: true
          default: null
    UpdatePipelineCheck:
      description: Update pipeline check request body.
      type: object
      properties:
        protocol:
          $ref: "#/components/schemas/PipelinePortProtocol"
          nullable: true
          default: null
        status:
          $ref: "#/components/schemas/CheckStatus"
          nullable: true
          default: null
        retries:
          type: number
          nullable: true
          default: null
          description: number of retries for the check before marking it as unreachable.
        host:
          type: string
          nullable: true
          default: null
          description: DNS label format as of defined on RFC1123 or an IPv4 address.
          example: localhost
        port:
          type: number
          minimum: 0
          maximum: 65535
          nullable: true
          default: null
          description: valid 0-65535 port number
    UpdateCoreInstanceCheck:
      description: Update a core instance check request body.
      type: object
      properties:
        protocol:
          $ref: "#/components/schemas/PipelinePortProtocol"
          nullable: true
          default: null
        status:
          $ref: "#/components/schemas/CheckStatus"
          nullable: true
          default: null
        host:
          type: string
          nullable: true
          default: null
          description: DNS label format as of defined on RFC1123 or an IPv4 address.
          example: localhost
        port:
          type: number
          minimum: 0
          maximum: 65535
          nullable: true
          default: null
          description: valid 0-65535 port number
        retries:
          type: number
          nullable: true
          default: null
          description: number of retries for the check before marking it as unreachable.
    UpdateIngestCheck:
      description: Update a core instance Ingest check request body.
      type: object
      properties:
        status:
          $ref: "#/components/schemas/CheckStatus"
          nullable: true
          default: null
    CreatePipelineSecret:
      description: Create pipeline secret request body.
      type: object
      properties:
        key:
          type: string
          example: newsecret
        value:
          type: string
          format: byte
      required:
        - key
        - value
    UpdatePipelineSecret:
      description: Update pipeline secret request body.
      type: object
      properties:
        key:
          type: string
          example: newsecret
          nullable: true
          default: null
        value:
          type: string
          format: byte
          nullable: true
          default: null
    CreatePipelinePort:
      description: Create pipeline port request body.
      type: object
      properties:
        protocol:
          type: string
          example: tcp
        frontendPort:
          type: integer
          format: int32
          minimum: 0
        backendPort:
          type: integer
          format: int32
          minimum: 0
        endpoint:
          type: string
      required:
        - protocol
        - frontendPort
        - backendPort
        - endpoint
    UpdatePipelinePort:
      description: Update pipeline port request body.
      type: object
      properties:
        protocol:
          type: string
          example: tcp
          nullable: true
          default: null
        frontendPort:
          type: integer
          format: int32
          nullable: true
          default: null
        backendPort:
          type: integer
          format: int32
          nullable: true
          default: null
        endpoint:
          type: string
          nullable: true
          default: null
    ValidatingConfig:
      description: Validating configuration request body.
      type: object
      properties:
        config:
          type: array
          items:
            type: object
            properties:
              command:
                type: string
              name:
                type: string
              optional:
                type: object
                additionalProperties:
                  type: string
                nullable: true
                default: null
              id:
                type: string
            required:
              - command
              - name
              - id
      required:
        - config
    CreatedProject:
      type: object
      description: Created project response body.
      properties:
        id:
          type: string
        token:
          type: string
          example: redacted
        createdAt:
          type: string
          format: date-time
        membership:
          $ref: "#/components/schemas/Membership"
      required:
        - id
        - token
        - createdAt
        - membership
    RegisteredAgent:
      type: object
      description: Registered agent response body.
      properties:
        id:
          type: string
          format: uuid
        token:
          type: string
          example: redacted
        name:
          type: string
          example: my-agent
        createdAt:
          type: string
          format: date-time
        environmentName:
          type: string
          description: environment name on which the agent belongs to.
          default: default
      required:
        - id
        - token
        - name
        - createdAt
    CreatedAggregator:
      type: object
      description: Created aggregator response body.
      properties:
        id:
          type: string
          format: uuid
        token:
          type: string
          example: redacted
        privateRSAKey:
          type: string
          format: byte
        publicRSAKey:
          type: string
          format: byte
        name:
          type: string
          format: hostname
          example: my-aggregator
        version:
          type: string
          example: v0.1.12
        createdAt:
          type: string
          format: date-time
        healthCheckPipeline:
          $ref: "#/components/schemas/Pipeline"
        clusterLoggingPipeline:
          $ref: "#/components/schemas/Pipeline"
        resourceProfiles:
          type: array
          items:
            $ref: "#/components/schemas/ResourceProfile"
        environmentName:
          type: string
          description: environment name on which the agent belongs to.
          default: default
        skipServiceCreation:
          type: boolean
          default: false
      required:
        - id
        - token
        - privateRSAKey
        - publicRSAKey
        - name
        - createdAt
        - resourceProfiles
        - environmentName
        - skipServiceCreation
    CreatedResourceProfile:
      type: object
      description: Created resource profile response body.
      properties:
        id:
          type: string
          format: uuid
        createdAt:
          type: string
          format: date-time
      required:
        - id
        - createdAt
    CreatedPipeline:
      type: object
      description: Created pipeline response body.
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
          example: my-pipeline
        kind:
          type: string
          description: Kind of deployment used when deploying this pipeline
          default: deployment
          enum:
            - daemonSet
            - deployment
        config:
          $ref: "#/components/schemas/PipelineConfig"
        secrets:
          type: array
          items:
            $ref: "#/components/schemas/PipelineSecret"
        files:
          type: array
          items:
            $ref: "#/components/schemas/PipelineFile"
        status:
          $ref: "#/components/schemas/PipelineStatus"
        resourceProfile:
          $ref: "#/components/schemas/ResourceProfile"
        checks:
          type: array
          items:
            $ref: "#/components/schemas/PipelineCheck"
        replicasCount:
          type: integer
          minimum: 0
        createdAt:
          type: string
          format: date-time
    UpdatedPipeline:
      type: object
      description: Updated pipeline response body.
      properties:
        addedPorts:
          type: array
          items:
            $ref: "#/components/schemas/PipelinePort"
        removedPorts:
          type: array
          items:
            $ref: "#/components/schemas/PipelinePort"
        addedChecks:
          type: array
          items:
            $ref: "#/components/schemas/PipelineCheck"
        removedChecks:
          type: array
          items:
            $ref: "#/components/schemas/PipelineCheck"
    CreatedPipelineFile:
      type: object
      description: Created pipeline file response body.
      properties:
        id:
          type: string
          format: uuid
        createdAt:
          type: string
          format: date-time
      required:
        - id
        - createdAt
    CreatedPipelineCheck:
      type: object
      description: Created pipeline check response body.
      properties:
        id:
          type: string
          format: uuid
        createdAt:
          type: string
          format: date-time
      required:
        - id
        - createdAt
    CreatedCoreInstanceCheck:
      type: object
      description: Created core instance (aggregator) check response body.
      properties:
        id:
          type: string
          format: uuid
        createdAt:
          type: string
          format: date-time
      required:
        - id
        - createdAt
    CreatedIngestCheck:
      type: object
      description: Created core instance Ingest check response body.
      properties:
        id:
          type: string
          format: uuid
        createdAt:
          type: string
          format: date-time
      required:
        - id
        - createdAt
    CreatedPipelineSecret:
      type: object
      description: Created pipeline secret response body.
      properties:
        id:
          type: string
          format: uuid
        createdAt:
          type: string
          format: date-time
      required:
        - id
        - createdAt
    CreatedPipelinePort:
      type: object
      description: Created pipeline port response body.
      properties:
        id:
          type: string
          format: uuid
        pluginID:
          type: string
          nullable: true
          default: null
          example: forward.0
        pluginName:
          type: string
          nullable: true
          default: null
          example: forward
        pluginAlias:
          type: string
          nullable: true
          default: null
          example: myforwardinput
        createdAt:
          type: string
          format: date-time
      required:
        - id
        - pluginID
        - pluginName
        - pluginAlias
        - createdAt
    ValidatedConfig:
      type: object
      description: Validate config response body.
      properties:
        errors:
          type: object
          properties:
            runtime:
              type: array
              items:
                type: string
            input:
              type: object
              additionalProperties:
                type: array
                items:
                  type: string
            output:
              type: object
              additionalProperties:
                type: array
                items:
                  type: string
            filter:
              type: object
              additionalProperties:
                type: array
                items:
                  type: string
          required:
            - runtime
            - input
            - output
            - filter
      required:
        - errors
    ConfigValidityV2Property:
      type: object
      description: Property of the validated configuration section
      properties:
        id:
          description: ID of the configuration section
          type: string
        property:
          description: property name
          type: string
        text:
          description: property name, value
          type: string
          nullable: true
          default: null
        errors:
          type: array
          items:
            type: string
      required:
        - id
        - property
        - text
        - errors

    ConfigValidityV2Runtime:
      type: object
      description: Runtime errors for the validated configuration.
      properties:
        errors:
          type: array
          items:
            type: string
        id:
          description: Id of the configuration section
          type: string
      required:
        - id
        - errors

    ValidatedConfigV2:
      type: object
      description: Validation V2 config response.
      properties:
        errors:
          type: object
          properties:
            runtime:
              type: array
              items:
                $ref: "#/components/schemas/ConfigValidityV2Runtime"
            input:
              type: object
              additionalProperties:
                type: array
                items:
                  $ref: "#/components/schemas/ConfigValidityV2Property"
            output:
              type: object
              additionalProperties:
                type: array
                items:
                  $ref: "#/components/schemas/ConfigValidityV2Property"
            filter:
              type: object
              additionalProperties:
                type: array
                items:
                  $ref: "#/components/schemas/ConfigValidityV2Property"
          required:
            - runtime
            - input
            - output
            - filter
      required:
        - errors

    TraceSession:
      type: object
      description: |
        Trace session model.
        There can only be one active session at a moment on a pipeline.
        Either terminate it and create a new one, or update and extend the lifespan of the current active one.
      properties:
        id:
          type: string
          format: uuid
        pipelineID:
          type: string
          format: uuid
        plugins:
          description: List of Fluent-bit plugin IDs ar aliases to trace.
          type: array
          items:
            type: string
            example: "dummy.0"
        lifespan:
          description: For how long will this session be active and process records.
          type: string
          format: duration
          example: "10m"
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
      required:
        - id
        - pipelineID
        - plugins
        - lifespan
        - createdAt
        - updatedAt

    CreateTraceSession:
      type: object
      description: |
        Request body to create a new trace session on a pipeline.
      properties:
        plugins:
          description: List of Fluent-bit plugin IDs ar aliases to trace.
          type: array
          items:
            type: string
            example: "dummy.0"
        lifespan:
          description: For how long will this session be active and process records.
          type: string
          format: duration
          example: "10m"
      required:
        - plugins
        - lifespan

    CreatedTraceSession:
      type: object
      description: Response body for a newly created trace session.
      properties:
        id:
          type: string
          format: uuid
        createdAt:
          type: string
          format: date-time
      required: [id, createdAt]

    UpdateTraceSession:
      type: object
      description: |
        Request body to update an active trace session on a pipeline.
      properties:
        plugins:
          description: List of Fluent-bit plugin IDs ar aliases to trace.
          type: array
          items:
            type: string
            example: "dummy.0"
          nullable: true
          default: null
        lifespan:
          description: For how long will this session be active and process records.
          type: string
          format: duration
          example: "10m"
          nullable: true
          default: null

    UpdatedTraceSession:
      type: object
      description: Response body for an updated trace session.
      properties:
        updatedAt:
          type: string
          format: date-time
      required: [updatedAt]

    TraceRecord:
      type: object
      description: |
        Trace record model.
        Trace Records comming from fluent-bit once trace is enabled.
        It contains trace records for all the fluen-bit plugins configured on the trace session.
      properties:
        id:
          type: string
          format: uuid
        sessionID:
          type: string
          format: uuid
        type:
          $ref: "#/components/schemas/TraceRecordKind"
        trace_id:
          type: string
          example: trace.5
        start_time:
          description: Unix timestamp with seconds precision.
          type: integer
          format: int64
          example: 1658953439
        end_time:
          description: Unix timestamp with seconds precision.
          type: integer
          format: int64
          example: 1658953439
        plugin_instance:
          type: string
          example: nest.2
        plugin_alias:
          type: string
          example: nest_2
        return_code:
          type: integer
        records:
          type: array
          items:
            type: object
            properties:
              timestamp:
                description: Unix timestamp with seconds precision.
                type: integer
                format: int64
                example: 1658953439
              record:
                type: object
                additionalProperties: true
                example: |-
                  {
                    "dummy": "dummy_0",
                    "powered_by": "calyptia",
                    "data": {
                      "key_name": "foo",
                      "key_cnt": "1"
                    }
                  }
            additionalProperties: true
            required:
              - timestamp
              - record
        createdAt:
          type: string
          format: date-time
      required:
        - id
        - sessionID
        - type
        - trace_id
        - start_time
        - end_time
        - plugin_instance
        - plugin_alias
        - return_code
        - records
        - createdAt

    TraceRecordKind:
      type: integer
      enum: [1, 2, 3, 4]
      # Custom enum names supported by openapi-typescript-codegen.
      # See https://github.com/ferdikoomen/openapi-typescript-codegen/blob/master/docs/custom-enums.md
      x-enum-varnames: [INPUT, FILTER, PRE_OUTPUT, OUTPUT]

    CreateTraceRecord:
      type: object
      description: |
        Request body to create a trace record on an active session.
      properties:
        type:
          $ref: "#/components/schemas/TraceRecordKind"
        trace_id:
          type: string
          example: trace.5
        start_time:
          description: Unix timestamp with seconds precision.
          type: integer
          format: int64
          example: 1658953439
        end_time:
          description: Unix timestamp with seconds precision.
          type: integer
          format: int64
          example: 1658953439
        plugin_instance:
          type: string
          example: nest.2
        plugin_alias:
          type: string
          example: nest_2
        return_code:
          type: integer
        records:
          type: array
          items:
            type: object
            properties:
              timestamp:
                description: Unix timestamp with seconds precision.
                type: integer
                format: int64
                example: 1658953439
              record:
                type: object
                additionalProperties: true
                example: |-
                  {
                    "dummy": "dummy_0",
                    "powered_by": "calyptia",
                    "data": {
                      "key_name": "foo",
                      "key_cnt": "1"
                    }
                  }
            additionalProperties: true
            required:
              - timestamp
              - record
      required:
        - type
        - trace_id
        - start_time
        - end_time
        - plugin_instance
        - plugin_alias
        - return_code
        - records

    CreatedTraceRecord:
      type: object
      description: Response body when a trace record is created.
      properties:
        id:
          type: string
          format: uuid
        sessionID:
          type: string
          format: uuid
        createdAt:
          type: string
          format: date-time
      required:
        - id
        - sessionID
        - createdAt

    TerminatedTraceSession:
      type: object
      description: Response body when a trace session is terminated.
      properties:
        id:
          type: string
          format: uuid
        lifespan:
          type: string
          format: duration
          example: "10m"
        updatedAt:
          type: string
          format: date-time
      required:
        - id
        - lifespan
        - updatedAt

    ConfigSection:
      type: object
      properties:
        id:
          type: string
          format: uuid
        projectID:
          type: string
          format: uuid
        processingRuleID:
          type: string
          format: uuid
          nullable: true
          default: null
        kind:
          $ref: "#/components/schemas/ConfigSectionKind"
        properties:
          $ref: "#/components/schemas/Pairs"
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
      required:
        - id
        - projectID
        - processingRuleID
        - kind
        - properties
        - createdAt
        - updatedAt
    ConfigSectionKind:
      type: string
      enum:
        - input
        - filter
        - output
        - service
    Pairs:
      type: array
      items:
        $ref: "#/components/schemas/Pair"
    Pair:
      type: object
      properties:
        key:
          type: string
          example: name
        value:
          anyOf:
            - type: integer
            - type: number
            - type: boolean
            - type: string
            - type: array
              items:
                type: string
          example: dummy
      required: [key, value]
    CreateConfigSection:
      type: object
      properties:
        kind:
          $ref: "#/components/schemas/ConfigSectionKind"
        properties:
          $ref: "#/components/schemas/Pairs"
      required: [kind, properties]
    CreatedConfigSection:
      type: object
      properties:
        id:
          type: string
          format: uuid
        createdAt:
          type: string
          format: date-time
      required: [id, createdAt]
    UpdateConfigSection:
      type: object
      properties:
        properties:
          $ref: "#/components/schemas/Pairs"
          nullable: true
          default: null

    UpdatedConfigSection:
      type: object
      properties:
        updatedAt:
          type: string
          format: date-time
      required: [updatedAt]

    ProcessingRule:
      type: object
      properties:
        id:
          type: string
          format: uuid
        pipelineID:
          type: string
          format: uuid
        configSectionID:
          type: string
          format: uuid
        fileID:
          type: string
          format: uuid
        match:
          type: string
          example: "*"
        isMatchRegexp:
          type: boolean
          default: false
        language:
          $ref: "#/components/schemas/ProcessingRuleLanguage"
        actions:
          type: array
          items:
            $ref: "#/components/schemas/RuleAction"
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
      required:
        - id
        - pipelineID
        - configSectionID
        - fileID
        - match
        - isMatchRegexp
        - language
        - actions
        - createdAt
        - updatedAt

    ProcessingRuleLanguage:
      type: string
      enum: [lua]

    RuleAction:
      type: object
      properties:
        kind:
          $ref: "#/components/schemas/RuleActionKind"
        description:
          type: string
          example: Sample action
        enabled:
          type: boolean
          default: false
          example: true
        selectors:
          type: array
          items:
            $ref: "#/components/schemas/LogSelector"
        add:
          $ref: "#/components/schemas/LogAttr"
          nullable: true
          default: null
          description: Only required when kind is "add".
        renameTo:
          type: string
          nullable: true
          default: null
          example: renamed
          description: Only required when kind is "rename".
        copyAs:
          type: string
          nullable: true
          default: null
          example: copied
          description: Only required when kind is "copy".
        maskWith:
          type: string
          nullable: true
          default: null
          example: masked
          description: Only required when kind is "mask".
      required:
        - kind
        - description
        - enabled
        - selectors

    RuleActionKind:
      type: string
      enum:
        - add
        - rename
        - copy
        - mask
        - remove
        - skip

    LogSelector:
      type: object
      properties:
        kind:
          $ref: "#/components/schemas/LogSelectorKind"
        op:
          $ref: "#/components/schemas/LogSelectorOpKind"
        expr:
          type: string
          example: some_key
      required:
        - kind
        - op
        - expr

    LogSelectorKind:
      type: string
      enum: [key]

    LogSelectorOpKind:
      type: string
      enum: [equal]

    LogAttr:
      type: object
      properties:
        key:
          type: string
          example: some_key
        value:
          description: Any value.
          example: some_value
      required:
        - key
        - value

    CreateProcessingRule:
      type: object
      properties:
        match:
          type: string
          example: "*"
        isMatchRegexp:
          type: boolean
          default: false
        language:
          $ref: "#/components/schemas/ProcessingRuleLanguage"
        actions:
          type: array
          items:
            $ref: "#/components/schemas/RuleAction"
      required:
        - match
        - isMatchRegexp
        - language
        - actions

    CreatedProcessingRule:
      type: object
      properties:
        id:
          type: string
          format: uuid
        configSectionID:
          type: string
          format: uuid
        fileID:
          type: string
          format: uuid
        createdAt:
          type: string
          format: uuid
      required:
        - id
        - configSectionID
        - fileID
        - createdAt

    UpdateProcessingRule:
      type: object
      properties:
        match:
          type: string
          example: "*"
          nullable: true
          default: null
        isMatchRegexp:
          type: boolean
          nullable: true
          default: null
        language:
          $ref: "#/components/schemas/ProcessingRuleLanguage"
          nullable: true
          default: null
        actions:
          type: array
          items:
            $ref: "#/components/schemas/RuleAction"
          nullable: true
          default: null

    UpdatedProcessingRule:
      type: object
      properties:
        updatedAt:
          type: string
          format: date-time
      required: [updatedAt]
    MetricsByPlugin:
      type: object
      properties:
        inputs:
          type: array
          items:
            type: object
            properties:
              instance:
                type: string
                example: "storage_backlog.3"
                description: plugin alias
              metrics:
                $ref: "#/components/schemas/InputMetrics"
        outputs:
          type: array
          items:
            type: object
            properties:
              instance:
                type: string
                example: "storage_backlog.3"
                description: plugin alias
              metrics:
                $ref: "#/components/schemas/OutputMetrics"
        filters:
          type: array
          items:
            type: object
            properties:
              instance:
                type: string
                example: "filter.3"
                description: plugin alias
              metrics:
                $ref: "#/components/schemas/FilterMetrics"
      example: |
        {
            "inputs": [
                {
                    "instance": "storage_backlog.3",
                    "metrics": {
                        "bytes": 0,
                        "records": 0
                    }
                }
            ],
            "outputs": [
                {
                    "instance": "stdout.0",
                    "metrics": {
                        "bytes": 5811996,
                        "records": 25697,
                        "errors": 0,
                        "retries": 0,
                        "retriedRecords": 0,
                        "retriesFailed": 0,
                        "droppedRecords": 0,
                        "loads": 0
                    }
                }
            ],
            "filters": [
                {
                    "instance": "filter.3",
                    "metrics": {
                        "dropRecords": 0,
                        "emitRecords": 0
                    }
                }
            ]
        }
    InputMetrics:
      type: object
      properties:
        bytes:
          type: integer
          example: 0
        records:
          type: integer
          example: 0
    OutputMetrics:
      type: object
      properties:
        bytes:
          type: integer
          example: 0
        records:
          type: integer
          example: 0
        errors:
          type: integer
          example: 0
        retries:
          type: integer
          example: 0
        retriedRecords:
          type: integer
          example: 0
        retriesFailed:
          type: integer
          example: 0
        droppedRecords:
          type: integer
          example: 0
        loads:
          type: integer
          example: 0
    FilterMetrics:
      type: object
      properties:
        dropRecords:
          type: integer
          example: 0
        emitRecords:
          type: integer
          example: 0
    MetricsSummary:
      type: object
      properties:
        input:
          $ref: "#/components/schemas/InputMetrics"
        output:
          $ref: "#/components/schemas/OutputMetrics"
        filter:
          $ref: "#/components/schemas/FilterMetrics"
      example: |
        {
          "input": {
              "bytes": 0,
              "records": 0
            }
          },
          "outputs": {
              "bytes": 0,
              "records": 0,
              "errors": 0,
              "retries": 0,
              "retriedRecords": 0,
              "retriesFailed": 0,
              "droppedRecords": 0,
              "loads": 0
            }
          },
          "filters": {
              "dropRecords": 0,
              "emitRecords": 0
            }
          }
        }
    MetricsOvertime:
      type: object
      properties:
        input:
          $ref: "#/components/schemas/MetricsOverTimeInput"
        filter:
          $ref: "#/components/schemas/MetricsOverTimeFilter"
        output:
          $ref: "#/components/schemas/MetricsOverTimeOutput"
      required:
        - input
        - filter
        - output
    MetricsOverTimeInput:
      type: object
      properties:
        bytes:
          type: array
          items:
            $ref: "#/components/schemas/MetricOverTime"
        records:
          type: array
          items:
            $ref: "#/components/schemas/MetricOverTime"
      required:
        - bytes
        - records
    MetricsOverTimeFilter:
      type: object
      properties:
        dropRecords:
          type: array
          items:
            $ref: "#/components/schemas/MetricOverTime"
        emitRecords:
          type: array
          items:
            $ref: "#/components/schemas/MetricOverTime"
      required:
        - dropRecords
        - emitRecords
    MetricsOverTimeOutput:
      type: object
      properties:
        bytes:
          type: array
          items:
            $ref: "#/components/schemas/MetricOverTime"
        records:
          type: array
          items:
            $ref: "#/components/schemas/MetricOverTime"
        errors:
          type: array
          items:
            $ref: "#/components/schemas/MetricOverTime"
        retries:
          type: array
          items:
            $ref: "#/components/schemas/MetricOverTime"
        retriedRecords:
          type: array
          items:
            $ref: "#/components/schemas/MetricOverTime"
        retriesFailed:
          type: array
          items:
            $ref: "#/components/schemas/MetricOverTime"
        droppedRecords:
          type: array
          items:
            $ref: "#/components/schemas/MetricOverTime"
        loads:
          type: array
          items:
            $ref: "#/components/schemas/MetricOverTime"
      required:
        - bytes
        - records
        - errors
        - retries
        - retriedRecords
        - retriesFailed
        - droppedRecords
        - loads
    MetricsOverTimeByPlugin:
      type: object
      properties:
        input:
          type: array
          items:
            $ref: "#/components/schemas/MetricsOverTimeByPluginInput"
        filter:
          type: array
          items:
            $ref: "#/components/schemas/MetricsOverTimeByPluginFilter"
        output:
          type: array
          items:
            $ref: "#/components/schemas/MetricsOverTimeByPluginOutput"
      required:
        - input
        - filter
        - output
    MetricsOverTimeByPluginInput:
      type: object
      properties:
        instance:
          type: string
          example: "storage_backlog.3"
          description: plugin alias
        metrics:
          $ref: "#/components/schemas/MetricsOverTimeInput"
      required:
        - instance
        - metrics
    MetricsOverTimeByPluginFilter:
      type: object
      properties:
        instance:
          type: string
          example: "storage_backlog.3"
          description: plugin alias
        metrics:
          $ref: "#/components/schemas/MetricsOverTimeInput"
      required:
        - instance
        - metrics
    MetricsOverTimeByPluginOutput:
      type: object
      properties:
        instance:
          type: string
          example: "storage_backlog.3"
          description: plugin alias
        metrics:
          $ref: "#/components/schemas/MetricsOverTimeInput"
      required:
        - instance
        - metrics
    MetricOverTime:
      type: object
      properties:
        time:
          type: string
          format: date-time
        value:
          type: number
          format: float
          nullable: true
          default: null
      required:
        - time
        - value
    PreviewProcessingRule:
      type: object
      properties:
        language:
          $ref: "#/components/schemas/ProcessingRuleLanguage"
        actions:
          type: array
          items:
            $ref: "#/components/schemas/RuleAction"
        logs:
          type: array
          items:
            $ref: "#/components/schemas/FluentBitLog"
      required:
        - language
        - actions
        - logs

    FluentBitLog:
      description: |
        Represents a fluent-bit log.
        It's an array with 2 items:
          - 0 being a unix timestamp with nanoseconds fraction.
          - 1 being an object of string key-values.
      type: array
      items:
        anyOf:
          - type: number
          - type: object
            additionalProperties:
              type: string
        example: '[1234.5, {"key": "value"}]'

paths:
  /v1/verification_email:
    get:
      tags:
        - user
      summary: Request verification email
      operationId: requestVerificationEmail
      description: |-
        Request a verification email for the user.
        When a new user registers within Calyptia Cloud with password, it should receive a verification email, in the case it didn't receive it, or the email expired already, use this endpoint to request a new one.
      security:
        - user: []
      responses:
        "204":
          description: No Content
  /v1/projects:
    post:
      tags:
        - project
      summary: Create project
      operationId: createProject
      description: |-
        Creates a new project.
        A project is the base unit of work at Calyptia Cloud.
        You can register agents here, create aggregators in which you can deploy an entire set of pipelines, and monitor them.
        You can even invite other people to the project and have a team.
      security:
        - user: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateProject"
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreatedProject"
    get:
      tags:
        - project
      summary: Projects
      operationId: projects
      description: Projects you are a member of.
      security:
        - user: []
      parameters:
        - schema:
            type: integer
            minimum: 0
          in: query
          name: last
          description: Last projects.
        - schema:
            type: string
          in: query
          name: name
          description: Name matching projects.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Project"
  "/v1/projects/{projectID}":
    parameters:
      - schema:
          type: string
          format: uuid
        name: projectID
        in: path
        required: true
    get:
      tags:
        - project
      summary: Project
      operationId: project
      description: Project by ID.
      security:
        - user: []
        - project: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Project"
    patch:
      tags:
        - project
      summary: Update project
      operationId: updateProject
      description: Update project by its ID.
      security:
        - user: []
        - project: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateProject"
      responses:
        "204":
          description: No Content
  "/v1/projects/{projectID}/tokens":
    parameters:
      - schema:
          type: string
          format: uuid
        name: projectID
        in: path
        required: true
    post:
      tags:
        - token
      summary: Create token
      operationId: createToken
      description: |-
        Create token within a project.
        These tokens are to authorize other applications to access the project.
        For example:
         - an agent might use it to register itself to the project.
         - you might create a new aggregator in the project using the aggregator CLI.
         - you might use it within the Calyptia CLI to grant access to your project.
      security:
        - user: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateToken"
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Token"
    get:
      tags:
        - token
      summary: Tokens
      operationId: tokens
      description: Tokens from a project.
      security:
        - user: []
      parameters:
        - schema:
            type: integer
            minimum: 0
          in: query
          name: last
          description: Last tokens.
        - schema:
            type: string
          in: query
          name: name
          description: Name matching tokens.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Token"
  "/v1/project_tokens/{tokenID}":
    parameters:
      - schema:
          type: string
          format: uuid
        name: tokenID
        in: path
        required: true
    get:
      tags:
        - token
      summary: Token
      operationId: token
      description: Token by ID.
      security:
        - user: []
        - project: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Token"
    patch:
      tags:
        - token
      summary: Update token
      operationId: updateToken
      description: Update token by its ID.
      security:
        - user: []
        - project: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateToken"
      responses:
        "204":
          description: No Content
    delete:
      tags:
        - token
      summary: Delete token
      operationId: deleteToken
      description: Delete token by its ID.
      security:
        - user: []
        - project: []
      responses:
        "204":
          description: No Content
  "/v1/projects/{projectID}/members":
    parameters:
      - schema:
          type: string
          format: uuid
        name: projectID
        in: path
        required: true
    get:
      tags:
        - membership
      summary: Members
      operationId: members
      description: Members from a project.
      security:
        - user: []
        - project: []
      parameters:
        - schema:
            type: integer
            minimum: 0
          in: query
          name: last
          description: Last members.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Membership"
  "/v1/projects/{projectID}/invite":
    parameters:
      - schema:
          type: string
          format: uuid
        name: projectID
        in: path
        required: true
    post:
      tags:
        - invitation
      summary: Create invitation
      operationId: createInvitation
      description: |-
        Create invitation to a project.
        This will send an invitation email with a link to join to the email address provided.
      security:
        - user: []
        - project: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateInvitation"
      responses:
        "204":
          description: No Content
  /v1/join_project:
    post:
      tags:
        - invitation
      summary: Accept invitation
      operationId: acceptInvitation
      description: |-
        Accept invitation to a project.
        The project to which you join is parsed from the token.
      security:
        - user: []
        - project: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AcceptInvitation"
      responses:
        "204":
          description: No Content
  /v1/agents:
    post:
      tags:
        - agent
      summary: Register agent
      operationId: registerAgent
      description: |-
        Register agent within a project.
        The project in which the agent is registered is parsed from the authorization token.
        Users are not allowed to register agents.
      security:
        - project: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RegisterAgent"
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RegisteredAgent"
  "/v1/projects/{projectID}/agents":
    parameters:
      - schema:
          type: string
          format: uuid
        name: projectID
        in: path
        required: true
[...]
