openapi: 3.0.4
info:
  title: Calyptia Cloud API
  version: "1.0"
  description: HTTP API service of Calyptia Cloud
  contact:
    name: Calyptia
    email: hello@calyptia.com
    url: "https://cloud.calyptia.com"
  termsOfService: "https://calyptia.com/terms/"
servers:
  - url: "https://cloud-api.calyptia.com"
    description: prod
  - url: "https://cloud-api-dev.calyptia.com"
    description: dev
  - url: "https://cloud-api-staging.calyptia.com"
    description: staging
  - url: "http://localhost:{port}"
    description: local
    variables:
      port:
        default: "5000"
tags:
  - name: user
  - name: project
  - name: token
  - name: membership
  - name: invitation
  - name: agent
  - name: agent_config
  - name: core_instance
  - name: core_instance_file
  - name: core_instance_secret
  - name: aggregator
  - name: resource_profile
  - name: core_instance_check
  - name: ingest_check
  - name: pipeline
  - name: pipeline_config
  - name: pipeline_sidecar
  - name: pipeline_status
  - name: pipeline_file
  - name: pipeline_secret
  - name: pipeline_port
  - name: pipeline_check
  - name: pipeline_log
  - name: pipeline_cluster_objects
  - name: config_validator
  - name: config_validator_v2
  - name: metric
  - name: environment
  - name: trace_session
  - name: trace_record
  - name: cluster_object
  - name: fleet
  - name: search
  - name: agent_error
  - name: aws_marketplace
  - name: cluster_object_regex
  - name: processing_rule
  - name: processing_rule_template
  - name: saml_mapping
  - name: audit_log
  - name: sidecar

components:
  securitySchemes:
    user:
      type: http
      scheme: bearer
    project:
      name: X-Project-Token
      type: apiKey
      in: header
    auth0:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: "https://sso.calyptia.com/oauth/token"
          scopes: {}
        authorizationCode:
          authorizationUrl: "https://sso.calyptia.com/authorize"
          tokenUrl: "https://sso.calyptia.com/oauth/token"
          scopes: {}
  schemas:
    Created:
      type: object
      properties:
        id:
          type: string
          format: uuid
        createdAt:
          type: string
          format: date-time
      required:
        - id
        - createdAt
    Updated:
      type: object
      properties:
        updatedAt:
          type: string
          format: date-time
      required: [updatedAt]
    Deleted:
      type: object
      properties:
        deleted:
          type: boolean
        deletedAt:
          type: string
          format: date-time
          nullable: true
          default: null
      required:
        - deleted
        - deletedAt
    UpdatePipelineMetadata:
      type: object
      properties:
        key:
          type: string
          nullable: false
          description: metadata key to use
        value:
          type: object
          additionalProperties: true
          description: json object to use as value
          example: |
            {"value": "1"}
    UpdatePipelineClusterObjects:
      type: object
      properties:
        clusterObjectsIDs:
          type: array
          format: uuid
          items:
            type: string
    UpdateEnvironment:
      type: object
      properties:
        name:
          type: string
          nullable: true
          default: null
    CreateEnvironment:
      type: object
      properties:
        name:
          type: string
    Environment:
      type: object
      description: Environment model.
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
          description: DNS label format as of defined on RFC1123
          example: development
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    PipelineMetadata:
      type: object
      additionalProperties: true
    User:
      type: object
      description: User model.
      properties:
        id:
          type: string
          format: uuid
        email:
          type: string
          format: email
        name:
          type: string
          example: user
        avatarURL:
          type: string
          nullable: true
          default: null
          format: uri
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
      required:
        - id
        - email
        - name
        - avatarURL
        - createdAt
        - updatedAt
    ClusterObjectKind:
      type: string
      description: Kind of the kubernetes object
      default: namespace
      enum:
        - namespace
    CheckStatus:
      type: string
      description: The status of a check.
      default: new
      enum:
        - new
        - failed
        - running
        - ok
    PipelineLogStatus:
      type: string
      description: |
        The status of a pipeline log, if NEW hasn't been updated from the cluster.
        If DONE, logs have been retrieved from the cluster.
      default: NEW
      enum:
        - NEW
        - DONE
    PipelinePortKind:
      type: string
      description: The kind/type of the service associated to this port.
      default: LoadBalancer
      enum:
        - LoadBalancer
        - ClusterIP
        - NodePort
    PipelinePortProtocol:
      type: string
      description: Valid protocol types defined for a pipelines.
      enum:
        - tcp
        - udp
    Project:
      type: object
      description: Project model.
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
          example: my-project
        membersCount:
          type: integer
          minimum: 1
        agentsCount:
          type: integer
          minimum: 0
        aggregatorsCount:
          type: integer
          maximum: 0
        createdAt:
          type: string
          format: date-time
        membership:
          $ref: "#/components/schemas/Membership"
      required:
        - id
        - name
        - membersCount
        - agentsCount
        - aggregatorsCount
        - createdAt
    Token:
      type: object
      properties:
        id:
          type: string
          format: uuid
        token:
          type: string
          example: redacted
        name:
          type: string
          example: my-token
        permissions:
          type: array
          uniqueItems: true
          items:
            $ref: "#/components/schemas/Permission"
        createdAt:
          type: string
          format: date-time
      required:
        - id
        - token
        - name
        - permissions
        - createdAt
      description: Token model.
    Membership:
      type: object
      properties:
        id:
          type: string
          format: uuid
        userID:
          type: string
          format: uuid
        projectID:
          type: string
          format: uuid
        roles:
          type: array
          nullable: true
          default: null
          uniqueItems: true
          items:
            type: string
            enum:
              - creator
              - admin
        permissions:
          type: array
          uniqueItems: true
          items:
            $ref: "#/components/schemas/Permission"
        createdAt:
          type: string
          format: date-time
        user:
          $ref: "#/components/schemas/User"
      required:
        - id
        - userID
        - projectID
        - roles
        - permissions
        - createdAt
      description: Membership of a user in a project.
    UpdateMember:
      type: object
      properties:
        permissions:
          description: An empty list means it has all permissions.
          type: array
          uniqueItems: true
          items:
            $ref: "#/components/schemas/Permission"
          nullable: true
    Agent:
      type: object
      properties:
        id:
          type: string
          format: uuid
        fleetID:
          type: string
          format: uuid
          nullable: true
          default: null
        token:
          type: string
          example: redacted
        name:
          type: string
          example: my-agent
          format: hostname
        machineID:
          type: string
        type:
          type: string
          enum:
            - fluentbit
            - fluentd
        version:
          type: string
          example: v1.8.6
        edition:
          type: string
          enum:
            - community
            - enterprise
        status:
          type: string
          enum:
            - healthy
            - unhealthy
        os:
          type: string
          enum:
            - unknown
            - linux
            - macos
            - windows
            - freebsd
            - netbsd
            - openbsd
        arch:
          type: string
          enum:
            - unknown
            - x86
            - x86_64
            - arm
            - arm64
        flags:
          type: array
          nullable: true
          default: null
          uniqueItems: true
          items:
            type: string
        tags:
          type: array
          nullable: true
          default: null
          uniqueItems: true
          items:
            type: string
        rawConfig:
          type: string
        metadata:
          type: object
          nullable: true
          default: null
        firstMetricsAddedAt:
          type: string
          format: date-time
          nullable: true
          default: null
        lastMetricsAddedAt:
          type: string
          format: date-time
          nullable: true
          default: null
        metricsCount:
          type: integer
          format: int64
          minimum: 0
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        environmentName:
          type: string
          default: default
          example: default
      required:
        - id
        - fleetID
        - token
        - name
        - machineID
        - type
        - version
        - edition
        - os
        - arch
        - flags
        - status
        - rawConfig
        - metadata
        - environmentName
        - firstMetricsAddedAt
        - lastMetricsAddedAt
        - metricsCount
        - createdAt
        - updatedAt
      description: Agent model.
    AgentConfig:
      type: object
      description: Agent configuration history entry.
      properties:
        id:
          type: string
          format: uuid
        rawConfig:
          type: string
        createdAt:
          type: string
          format: date-time
      required:
        - id
        - rawConfig
        - createdAt
    Fleet:
      type: object
      description: Group of agents sharing the same config.
      properties:
        id:
          type: string
          format: uuid
        projectID:
          type: string
          format: uuid
        name:
          type: string
          example: my-fleet
        minFluentBitVersion:
          type: string
          example: v1.0.0
        rawConfig:
          type: string
          description: |
            The fleet fluent-bit configuration in the format defined by
            configFormat.
        configFormat:
          type: string
          enum:
            - ini
            - json
            - yaml
        tags:
          type: array
          items:
            type: string
            example: dev
        agentsCount:
          $ref: "#/components/schemas/FleetAgentsCount"
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
      required:
        - id
        - projectID
        - name
        - minFluentBitVersion
        - rawConfig
        - configFormat
        - tags
        - agentsCount
        - createdAt
        - updatedAt

    FleetsStatus:
      type: object
      description: |-
        Show the numerical count of the status of all Agents
        within a Fleet or all Fleets within a Project.
        The status is one of:
          * Managed: the full total of agents managed by the fleet
                     or all fleets in a project.
          * Healthy: total of all fully functioning fleet agents.
          * In Progress: total of all fleet agents that are pending an
                         upgrade to their configuration.
          * Unhleathy: total of all fleet agents that either have a
                       pending error or have not responded in
                       predetermined length of time.
      properties:
        managed:
          type: integer
          description: total of all fleet agents.
        healthy:
          type: integer
          description: |-
            total of fleet agents that are deemed alive and fully
            up to date.
        inProgress:
          type: integer
          description: |-
            total of fleet agents that are pending a configuration
            update.
        unhealthy:
          type: integer
          description: |-
            total of all agents with a pending error or have not
            responded in a predetermined interval of time.

    FleetAgentsCount:
      type: object
      description: |-
        Both active and inactive can sum up to the total count
        of agents that the fleet has.
        `withErrors` is the count of particular agents that have
        some errors that have not been dismissed yet.
      properties:
        active:
          type: number
          format: int32
          minimum: 0
        inactive:
          type: number
          format: int32
          minimum: 0
        withErrors:
          type: number
          format: int32
          minimum: 0
      required:
        - active
        - inactive
        - withErrors

    CreateFleet:
      type: object
      properties:
        name:
          type: string
          maxLength: 32
          example: my-fleet
        minFluentBitVersion:
          type: string
          description: semver
          example: v1.0.0
        rawConfig:
          type: string
          description: |
            The fleet fluent-bit configuration in the format defined by
            configFormat.
        configFormat:
          type: string
          enum:
            - ini
            - json
            - yaml
          nullable: true
        tags:
          type: array
          items:
            type: string
            pattern: ^[a-z]+$
            example: dev
        skipConfigValidation:
          type: boolean
          default: false
      required:
        - name
        - minFluentBitVersion
        - rawConfig
        - tags
        - skipConfigValidation
    CreatedFleet:
      type: object
      properties:
        id:
          type: string
          format: uuid
        createdAt:
          type: string
          format: date-time
      required:
        - id
        - createdAt
    UpdateFleet:
      type: object
      properties:
        name:
          type: string
          maxLength: 32
          nullable: true
          default: null
          example: updated-fleet
        rawConfig:
          type: string
          description: |
            The fleet fluent-bit configuration in the format defined by
            configFormat.
          nullable: true
          default: null
        configFormat:
          type: string
          enum:
            - ini
            - json
            - yaml
          nullable: true
          default: null
        tags:
          type: array
          items:
            type: string
            pattern: ^[a-z]+$
            example: updated
          nullable: true
          default: null
        skipConfigValidation:
          type: boolean
          default: false
      required:
        - skipConfigValidation
    UpdatedFleet:
      type: object
      properties:
        updatedAt:
          type: string
          format: date-time
      required:
        - updatedAt
    DeletedFleet:
      type: object
      properties:
        deleted:
          type: boolean
        deletedAt:
          type: string
          format: date-time
          nullable: true
          default: null
      required:
        - deleted
        - deletedAt
    FleetFile:
      type: object
      properties:
        contents:
          type: string
          format: byte
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        id:
          type: string
          format: uuid
        name:
          type: string
    CreateFleetFile:
      type: object
      properties:
        name:
          type: string
        contents:
          type: string
          format: byte
      required:
        - name
        - contents
    CreatedFleetFile:
      type: object
      description: Created fleet file response body.
      properties:
        id:
          type: string
          format: uuid
        createdAt:
          type: string
          format: date-time
      required:
        - id
        - createdAt
    UpdateFleetFile:
      type: object
      properties:
        name:
          type: string
        contents:
          type: string
          format: byte
    AggregatorPingResponse:
      type: object
      description: Core instance ping response model.
      properties:
        nextPing:
          type: string
          format: duration
          default: "30s"
    MetadataGCP:
      type: object
      description: |
        Metadata model for GCP metadata fields accepted by a Core Instance.
        See: https://cloud.google.com/compute/docs/metadata/default-metadata-values.
      properties:
        gcp.project_number:
          type: number
        gcp.project_id:
          type: string
        gcp.instance_id:
          type: number
        gcp.instance_image:
          type: string
        gcp.machine_type:
          type: string
        gcp.instance_name:
          type: string
        gcp.zone:
          type: string
    MetadataK8S:
      type: object
      description: |
        Metadata model for kubernetes metadata fields accepted by a Core Instance.
        See: https://github.com/kubernetes/website/blob/60390ff3c0ef0043a58568ad2e4c2b7634028074/content/en/examples/pods/inject/dapi-volume.yaml#L5
      properties:
        k8s.namespace:
          type: string
        k8s.cluster_name:
          type: string
        k8s.zone:
          type: string
        k8s.cluster_version:
          type: string
        k8s.cluster_platform:
          type: string
    MetadataAWS:
      type: object
      description: |
        Metadata model for AWS metadata fields accepted by a Core Instance.
        See: https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/instancedata-data-retrieval.html
      properties:
        aws.ami_id:
          type: string
        aws.account_id:
          type: string
        aws.hostname:
          type: string
        aws.vpc_id:
          type: string
        aws.private_ipv4:
          type: string
        aws.public_ipv4:
          type: string
        aws.ec2_instance_id:
          type: string
        aws.ec2_instance_type:
          type: string
        aws.az:
          type: string
    CoreInstanceMetadata:
      type: object
      description: Core Instance Metadata model.
      anyOf:
        - $ref: "#/components/schemas/MetadataAWS"
        - $ref: "#/components/schemas/MetadataGCP"
        - $ref: "#/components/schemas/MetadataK8S"
    Aggregator:
      type: object
      description: Core instance model.
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
          format: hostname
          example: my-core-instance
        version:
          type: string
          example: v0.1.12
        status:
          type: string
          description: |
            Running status of the core instance in reference to the last ping.
            Refer to https://pkg.go.dev/github.com/calyptia/api@main/types#pkg-constants
            if looking up for the current timeout defaults.
          enum:
            - running
            - waiting
            - unreachable
        metadata:
          $ref: "#/components/schemas/CoreInstanceMetadata"
        pipelinesCount:
          type: integer
          minimum: 0
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        tags:
          type: array
          nullable: true
          default: null
          uniqueItems: true
          items:
            type: string
        environmentName:
          type: string
          default: default
          example: default
        skipServiceCreation:
          type: boolean
          default: false
      required:
        - id
        - name
        - pipelinesCount
        - environmentName
        - skipServiceCreation
        - createdAt
        - updatedAt
    CoreInstance:
      $ref: "#/components/schemas/Aggregator"
    CoreInstances:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/CoreInstance"
        endCursor:
          type: string
          nullable: true
        count:
          type: number
          format: int32
      required:
        - items
        - endCursor
        - count
    CoreInstanceFile:
      type: object
      properties:
        id:
          type: string
          format: uuid
        coreInstanceID:
          type: string
          format: uuid
        name:
          type: string
          example: myfile
        contents:
          type: string
          format: byte
          description: |-
            The contents of the file in base 64 format.
            If the file is encrypted, the contents will be the encrypted
            version of the file.
        encrypted:
          type: boolean
          default: false
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
      required:
        - id
        - coreInstanceID
        - name
        - contents
        - encrypted
        - createdAt
        - updatedAt
    CoreInstanceFiles:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/CoreInstanceFile"
        endCursor:
          type: string
          nullable: true
        count:
          type: number
          format: int32
      required:
        - items
        - endCursor
        - count
    CreateCoreInstanceFile:
      type: object
      properties:
        name:
          type: string
          example: myfile
        contents:
          type: string
          format: byte
          description: The contents of the file to be created in base 64 format.
        encrypted:
          type: boolean
          default: false
      required:
        - name
        - contents
        - encrypted
    UpdateCoreInstanceFile:
      type: object
      properties:
        name:
          type: string
          nullable: true
          default: null
          example: myfile
        contents:
          type: string
          format: byte
          nullable: true
          default: null
          description: Optional contents of the file to be updated in base 64 format.
        encrypted:
          type: boolean
          nullable: true
          default: null
    CoreInstanceSecret:
      type: object
      properties:
        id:
          type: string
          format: uuid
        coreInstanceID:
          type: string
          format: uuid
        key:
          type: string
          example: mysecret
        value:
          type: string
          format: byte
          description: |-
            The value of the secret in base 64 format.
            The value is always encrypted.
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
      required:
        - id
        - coreInstanceID
        - key
        - value
        - createdAt
        - updatedAt
    CoreInstanceSecrets:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/CoreInstanceSecret"
        endCursor:
          type: string
          nullable: true
        count:
          type: number
          format: int32
      required:
        - items
        - endCursor
        - count
    CreateCoreInstanceSecret:
      type: object
      properties:
        key:
          type: string
          example: mysecret
        value:
          type: string
          format: byte
          description: The value of the secret in base 64 format.
      required:
        - key
        - value
        - encrypted
    UpdateCoreInstanceSecret:
      type: object
      properties:
        key:
          type: string
          nullable: true
          default: null
          example: mysecret
        value:
          type: string
          format: byte
          nullable: true
          default: null
          description: Optional value of the secret in base 64 format.
    Sidecar:
      type: object
      properties:
        id:
          type: string
          format: uuid
        pipelineID:
          type: string
          format: uuid
        name:
          type: string
          example: "my-sidecar"
        image:
          type: string
          example: "nginx:latest"
        imagePullPolicy:
          $ref: "#/components/schemas/PullPolicy"
        command:
          type: array
          items:
            type: string
          example: ["/bin/sh", "-c", "nginx"]
          nullable: true
        args:
          type: array
          items:
            type: string
          example: ["-c", "nginx"]
          nullable: true
        env:
          type: array
          items:
            $ref: "#/components/schemas/EnvVar"
          nullable: true
        resources:
          $ref: "#/components/schemas/ResourceRequirements"
        ports:
          type: array
          items:
            $ref: "#/components/schemas/ContainerPort"
          nullable: true
        volumeMounts:
          type: array
          items:
            $ref: "#/components/schemas/VolumeMount"
          nullable: true
        volumes:
          type: array
          items:
            $ref: "#/components/schemas/Volume"
        livenessProbe:
          $ref: "#/components/schemas/Probe"
        readinessProbe:
          $ref: "#/components/schemas/Probe"
        startupProbe:
          $ref: "#/components/schemas/Probe"
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
      required:
        - id
        - pipelineID
        - image
        - name
        - createdAt
        - updatedAt
    PullPolicy:
      type: string
      enum:
        - Always
        - IfNotPresent
        - Never
    EnvVar:
      type: object
      properties:
        name:
          type: string
        value:
          type: string
        valueFrom:
          $ref: "#/components/schemas/EnvVarSource"
      required:
        - name
    EnvVarSource:
      type: object
      properties:
        secretKeyRef:
          $ref: "#/components/schemas/SecretKeySelector"
        configMapKeyRef:
          $ref: "#/components/schemas/ConfigMapKeySelector"
    SecretKeySelector:
      type: object
      properties:
        name:
          type: string
        key:
          type: string
      required:
        - name
        - key
    ConfigMapKeySelector:
      type: object
      properties:
        name:
          type: string
        key:
          type: string
      required:
        - name
        - key
    ResourceRequirements:
      type: object
      properties:
        limits:
          $ref: "#/components/schemas/ResourceList"
        requests:
          $ref: "#/components/schemas/ResourceList"
    ResourceList:
      type: object
      properties:
        cpu:
          type: string
        memory:
          type: string
      additionalProperties:
        type: string
    ContainerPort:
      type: object
      properties:
        name:
          type: string
        containerPort:
          type: integer
        protocol:
          $ref: "#/components/schemas/Protocol"
      required:
        - containerPort
    Protocol:
      type: string
      enum:
        - TCP
        - UDP
        - SCTP
    VolumeMount:
      type: object
      properties:
        name:
          type: string
        mountPath:
          type: string
        readOnly:
          type: boolean
        subPath:
          type: string
        subPathExpr:
          type: string
        mountPropagation:
          $ref: "#/components/schemas/MountPropagationMode"
      required:
        - name
        - mountPath
    MountPropagationMode:
      type: string
      enum:
        - None
        - HostToContainer
        - Bidirectional
    Volume:
      type: object
      properties:
        name:
          type: string
        configMap:
          $ref: "#/components/schemas/ConfigMapVolumeSource"
        secret:
          $ref: "#/components/schemas/SecretVolumeSource"
        emptyDir:
          $ref: "#/components/schemas/EmptyDirVolumeSource"
      required:
        - name
    ConfigMapVolumeSource:
      type: object
      properties:
        name:
          type: string
        defaultMode:
          type: integer
          format: int32
          nullable: true
        optional:
          type: boolean
          nullable: true
        items:
          type: array
          items:
            $ref: "#/components/schemas/KeyToPath"
          nullable: true
      required:
        - name
    SecretVolumeSource:
      type: object
      properties:
        secretName:
          type: string
        defaultMode:
          type: integer
          format: int32
          nullable: true
        optional:
          type: boolean
          nullable: true
        items:
          type: array
          items:
            $ref: "#/components/schemas/KeyToPath"
          nullable: true
      required:
        - secretName
    EmptyDirVolumeSource:
      type: object
      properties:
        medium:
          $ref: "#/components/schemas/StorageMedium"
        sizeLimit:
          type: string
          nullable: true
    StorageMedium:
      type: string
    KeyToPath:
      type: object
      properties:
        key:
          type: string
        path:
          type: string
        mode:
          type: integer
          format: int32
          nullable: true
      required:
        - key
        - path
    Probe:
      type: object
      properties:
        exec:
          $ref: "#/components/schemas/ExecAction"
        httpGet:
          $ref: "#/components/schemas/HTTPGetAction"
        tcpSocket:
          $ref: "#/components/schemas/TCPSocketAction"
        grpc:
          $ref: "#/components/schemas/GRPCAction"
        initialDelaySeconds:
          type: integer
          format: int32
          minimum: 0
          nullable: true
        timeoutSeconds:
          type: integer
          format: int32
          minimum: 0
          nullable: true
        periodSeconds:
          type: integer
          format: int32
          minimum: 0
          nullable: true
        successThreshold:
          type: integer
          format: int32
          minimum: 0
          nullable: true
        failureThreshold:
          type: integer
          format: int32
          minimum: 0
          nullable: true
        terminationGracePeriodSeconds:
          type: integer
          format: int64
          minimum: 0
          nullable: true
    ExecAction:
      type: object
      properties:
        command:
          type: array
          items:
            type: string
      required:
        - command

    HTTPGetAction:
      type: object
      properties:
        path:
          type: string
        port:
          type: integer
          format: int32
          minimum: 1
          maximum: 65535
        host:
          type: string
          nullable: true
        scheme:
          $ref: "#/components/schemas/URIScheme"
        httpHeaders:
          type: array
          items:
            $ref: "#/components/schemas/HTTPHeader"
          nullable: true
      required:
        - port

    HTTPHeader:
      type: object
      properties:
        name:
          type: string
        value:
          type: string
      required:
        - name
        - value

    TCPSocketAction:
      type: object
      properties:
        port:
          type: integer
          format: int32
          minimum: 1
          maximum: 65535
        host:
          type: string
          nullable: true
      required:
        - port

    GRPCAction:
      type: object
      properties:
        port:
          type: integer
          format: int32
          minimum: 1
          maximum: 65535
        service:
          type: string
          nullable: true
      required:
        - port

    URIScheme:
      type: string
      enum:
        - HTTP
        - HTTPS
    Sidecars:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/Sidecar"
        endCursor:
          type: string
          nullable: true
      required:
        - items
        - endCursor
    CreateSidecar:
      type: object
      properties:
        name:
          type: string
          example: "my-sidecar"
        image:
          type: string
          example: "nginx:latest"
        imagePullPolicy:
          $ref: "#/components/schemas/PullPolicy"
        command:
          type: array
          items:
            type: string
          example: ["/bin/sh", "-c", "nginx"]
        args:
          type: array
          items:
            type: string
          example: ["-c", "nginx"]
        env:
          type: array
          items:
            $ref: "#/components/schemas/EnvVar"
        resources:
          $ref: "#/components/schemas/ResourceRequirements"
        ports:
          type: array
          items:
            $ref: "#/components/schemas/ContainerPort"
        volumeMounts:
          type: array
          items:
            $ref: "#/components/schemas/VolumeMount"
        volumes:
          type: array
          items:
            $ref: "#/components/schemas/Volume"
        livenessProbe:
          $ref: "#/components/schemas/Probe"
        readinessProbe:
          $ref: "#/components/schemas/Probe"
        startupProbe:
          $ref: "#/components/schemas/Probe"
      required:
        - name
        - image

    UpdateSidecar:
      type: object
      properties:
        name:
          type: string
          example: "my-sidecar"
        image:
          type: string
          example: "nginx:latest"
          nullable: true
        imagePullPolicy:
          $ref: "#/components/schemas/PullPolicy"
        command:
          type: array
          items:
            type: string
          example: ["/bin/sh", "-c", "nginx"]
          nullable: true
        args:
          type: array
          items:
            type: string
          example: ["-c", "nginx"]
          nullable: true
        env:
          type: array
          items:
            $ref: "#/components/schemas/EnvVar"
          nullable: true
        resources:
          $ref: "#/components/schemas/ResourceRequirements"
        ports:
          type: array
          items:
            $ref: "#/components/schemas/ContainerPort"
          nullable: true
        volumeMounts:
          type: array
          items:
            $ref: "#/components/schemas/VolumeMount"
          nullable: true
        volumes:
          type: array
          items:
            $ref: "#/components/schemas/Volume"
          nullable: true
        livenessProbe:
          $ref: "#/components/schemas/Probe"
        readinessProbe:
          $ref: "#/components/schemas/Probe"
        startupProbe:
          $ref: "#/components/schemas/Probe"
    ResourceProfile:
      type: object
      description: Resource profile model.
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
          example: my-resource-profile
        storageMaxChunksUp:
          type: integer
          format: int32
        storageSyncFull:
          type: boolean
        storageBacklogMemLimit:
          type: string
          example: 1Mi
        storageVolumeSize:
          type: string
          example: 2Mi
        storageMaxChunksPause:
          type: boolean
        cpuBufferWorkers:
          type: integer
          format: int32
        cpuLimit:
          type: string
          example: 3Mi
        cpuRequest:
          type: string
          example: 4Mi
        memoryLimit:
          type: string
          example: 5Mi
        memoryRequest:
          type: string
          example: 6Mi
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
      required:
        - id
        - name
        - storageMaxChunksUp
        - storageSyncFull
        - storageBacklogMemLimit
        - storageVolumeSize
        - storageMaxChunksPause
        - cpuBufferWorkers
        - cpuLimit
        - cpuRequest
        - memoryLimit
        - memoryRequest
        - createdAt
        - updatedAt

    DeploymentStrategy:
      type: string
      description: |
        The deployment strategy to use when creating or updating changes to this pipeline.
      default: rollingupdate
      enum:
        - rollingupdate
        - hotReload

    Pipeline:
      type: object
      description: Pipeline model.
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
          description: DNS label format as of defined on RFC1123
          example: my-pipeline
        kind:
          $ref: "#/components/schemas/PipelineKind"
        config:
          $ref: "#/components/schemas/PipelineConfig"
        configSections:
          type: array
          items:
            $ref: "#/components/schemas/ConfigSection"
        status:
          $ref: "#/components/schemas/PipelineStatus"
        resourceProfile:
          $ref: "#/components/schemas/ResourceProfile"
        deploymentStrategy:
          $ref: "#/components/schemas/DeploymentStrategy"
        tracingEnabled:
          type: boolean
          default: false
        waitForChecksBeforeDeploying:
          type: boolean
          default: false
        image:
          type: string
          example: ghcr.io/calyptia/core/calyptia-fluent-bit:23.1.2
          nullable: true
          default: null
        replicasCount:
          type: integer
          minimum: 0
        replicasCountPrev:
          type: integer
          description: the previous replica set counter
          minimum: 0
        checksTotal:
          type: integer
          minimum: 0
          description: total number of checks associated with the pipeline.
        checksOK:
          type: integer
          minimum: 0
          description: total number of checks with ok status.
        checksRunning:
          type: integer
          minimum: 0
          description: total number of checks with running status.
        tags:
          type: array
          nullable: true
          default: null
          uniqueItems: true
          items:
            type: string
        metadata:
          type: object
          nullable: true
          default: null
          additionalProperties: true
        secrets:
          type: array
          nullable: true
          default: null
          items:
            $ref: "#/components/schemas/PipelineSecret"
        files:
          type: array
          nullable: true
          default: null
          items:
            $ref: "#/components/schemas/PipelineFile"
        ports:
          type: array
          nullable: true
          default: null
          items:
            $ref: "#/components/schemas/PipelinePort"
        minReplicas:
          type: integer
          description: minReplicas is the lower limit for the number of replicas to which the autoscaler can scale down.
        maxReplicas:
          type: integer
          description: maxReplicas is the upper limit for the number of replicas to which the autoscaler can scale up.
        scaleUpType:
          $ref: "#/components/schemas/ScalePolicy"
        scaleUpValue:
          type: integer
          description: value contains the amount of change which is permitted by the policy.
        scaleUpPeriodSeconds:
          type: integer
          description: ScaleUpPeriodSeconds specifies the window of time for which the policy should hold true.
        scaleDownType:
          $ref: "#/components/schemas/ScalePolicy"
        scaleDownValue:
          type: integer
          description: value contains the amount of change which is permitted by the policy.
        scaleDownPeriodSeconds:
          type: integer
          description: ScaleUpPeriodSeconds specifies the window of time for which the policy should hold true.
        utilizationCPUAverage:
          type: integer
          description: UtilizationCPUAverage defines the target value for average CPU utilization
        utilizationMemoryAverage:
          type: integer
          description: UtilizationMemoryAverage defines the target value for average CPU utilization
        portKind:
          $ref: "#/components/schemas/PipelinePortKind"
        labels:
          type: object
          nullable: true
          default: null
          additionalProperties: true
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
      required:
        - id
        - name
        - kind
        - config
        - configSections
        - image
        - status
        - resourceProfile
        - deploymentStrategy
        - tracingEnabled
        - waitForChecksBeforeDeploying
        - replicasCount
        - replicasCountPrev
        - tags
        - metadata
        - checksTotal
        - checksOK
        - checksRunning
        - portKind
        - labels
        - createdAt
        - updatedAt
        - minReplicas
        - maxReplicas
        - scaleUpType
        - scaleUpValue
        - scaleUpPeriodSeconds
        - scaleDownType
        - scaleDownValue
        - scaleDownPeriodSeconds
        - utilizationCPUAverage
        - utilizationMemoryAverage
    PipelineKind:
      type: string
      default: deployment
      enum: [deployment, daemonSet]
    Pipelines:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/Pipeline"
        endCursor:
          type: string
          nullable: true
        count:
          type: number
          format: int32
      required:
        - items
        - endCursor
        - count
    PipelineConfig:
      type: object
      description: Pipeline configuration history entry.
      properties:
        id:
          type: string
          format: uuid
        rawConfig:
          type: string
        configFormat:
          type: string
          enum:
            - ini
            - json
            - yaml
        createdAt:
          type: string
          format: date-time
      required:
        - id
        - rawConfig
        - configFormat
        - createdAt
    PipelineStatus:
      type: object
      description: Pipeline status history entry.
      properties:
        id:
          type: string
          format: uuid
        config:
          $ref: "#/components/schemas/AgentConfig"
        status:
          type: string
          enum:
            - NEW
            - FAILED
            - STARTING
            - STARTED
            - SCALING
            - CHECKS_OK
            - CHECKS_FAILED
        events:
          type: array
          items:
            $ref: "#/components/schemas/PipelineEvent"
        createdAt:
          type: string
          format: date-time
      required:
        - id
        - config
        - status
        - createdAt
    PipelineEvent:
      type: object
      description: Pipeline Status event.
      properties:
        source:
          type: string
          enum:
            - k8s:deployment
            - k8s:pod
        reason:
          type: string
        message:
          type: string
        loggedAt:
          type: string
          format: date-time
      required:
        - source
        - reason
        - loggedAt
    PipelineCheck:
      type: object
      description: Pipeline check model.
      properties:
        id:
          type: string
          format: uuid
        protocol:
          $ref: "#/components/schemas/PipelinePortProtocol"
        status:
          $ref: "#/components/schemas/CheckStatus"
        retries:
          type: number
          default: 3
          description: number of retries for the check before marking it as failed
        port:
          type: number
          minimum: 0
          maximum: 65535
          description: valid 0-65535 port number
        host:
          type: string
          description: DNS label format as of defined on RFC1123 or an IPv4 address.
          example: localhost
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
      required:
        - id
        - protocol
        - status
        - retries
        - port
        - host
        - createdAt
        - updatedAt
    PipelineLog:
      type: object
      properties:
        id:
          type: string
          format: uuid
        pipelineID:
          type: string
          format: uuid
        logs:
          type: string
        lines:
          type: integer
          default: 100
        status:
          $ref: "#/components/schemas/PipelineLogStatus"
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
      required:
        - id
        - pipelineID
        - logs
        - lines
        - status
        - createdAt
        - updatedAt
    PipelineLogs:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/PipelineLog"
        endCursor:
          type: string
          nullable: true
          default: null
        count:
          type: number
          format: int32
          minimum: 0
      required:
        - items
        - endCursor
        - count
    CreatePipelineLog:
      type: object
      properties:
        logs:
          type: string
        lines:
          type: integer
          default: 100
      required: ["logs"]
    UpdatePipelineLog:
      type: object
      properties:
        logs:
          type: string
          nullable: true
          default: null
        lines:
          type: integer
          nullable: true
          default: null
        status:
          type: string
          nullable: true
          default: null
          enum:
            - NEW
            - DONE
    CoreInstanceCheck:
      type: object
      description: Core instance check model.
      properties:
        id:
          type: string
          format: uuid
        protocol:
          $ref: "#/components/schemas/PipelinePortProtocol"
        status:
          $ref: "#/components/schemas/CheckStatus"
        retries:
          type: number
          default: 0
          description: number of retries for the check before marking it as failed
        host:
          type: string
          description: DNS label format as of defined on RFC1123 or an IPv4 address.
          example: localhost
        port:
          type: number
          minimum: 0
          maximum: 65535
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
      required:
        - id
        - protocol
        - status
        - retries
        - host
        - port
        - createdAt
        - updatedAt
    CreateClusterObject:
      type: object
      description: |
        Request body to create a new cluster object for a core instance.
      properties:
        name:
          type: string
          format: |
            kubernetes valid hostname or namespace name.
            https://kubernetes.io/docs/reference/labels-annotations-taints/
        kind:
          $ref: "#/components/schemas/ClusterObjectKind"
      required:
        - name
        - kind
    UpdateClusterObject:
      type: object
      description: |
        Request body to update a cluster object.
      properties:
        name:
          type: string
          format: |
            kubernetes valid hostname or namespace name.
            https://kubernetes.io/docs/reference/labels-annotations-taints/
        kind:
          $ref: "#/components/schemas/ClusterObjectKind"
    UpdatedClusterObject:
      type: object
      properties:
        updatedAt:
          type: string
          format: date-time
      required: [updatedAt]
    CreatedClusterObject:
      type: object
      description: Response body for for a newly created cluster object.
      properties:
        id:
          type: string
          format: uuid
        createdAt:
          type: string
          format: date-time
      required: [id, createdAt]
    ClusterObject:
      type: object
      description: A kubernetes cluster object that belongs to a given core instance.
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
          format: kubernetes label
        kind:
          $ref: "#/components/schemas/ClusterObjectKind"
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
      required:
        - id
        - name
        - kind
        - createdAt
        - updatedAt
    ClusterObjectRegex:
      type: object
      properties:
        id:
          type: string
          format: uuid
        pipelineID:
          type: string
          format: uuid
        regex:
          type: string
        description:
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        clusterObjects:
          type: array
          items:
            $ref: "#/components/schemas/ClusterObject"
          nullable: true
          default: null
          description: Will only be present on the `clusterObjectRegex` operation.
      required:
        - id
        - pipelineID
        - regex
        - description
        - createdAt
        - updatedAt
    CreateClusterObjectRegex:
      type: object
      properties:
        regex:
          type: string
          minLength: 0
        description:
          type: string
          maxLength: 100
      required:
        - regex
        - description
    CreatedClusterObjectRegex:
      type: object
      properties:
        id:
          type: string
          format: uuid
        createdAt:
          type: string
          format: date-time
      required:
        - id
        - createdAt
    ClusterObjectRegexes:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/ClusterObjectRegex"
        endCursor:
          type: string
          nullable: true
          default: null
      required:
        - items
        - endCursor
    UpdateClusterObjectRegex:
      type: object
      properties:
        regex:
          type: string
          minLength: 0
          nullable: true
          default: null
        description:
          type: string
          maxLength: 100
          nullable: true
          default: null
    UpdatedClusterObjectRegex:
      type: object
      properties:
        updatedAt:
          type: string
          format: date-time
      required: [updatedAt]
    IngestCheck:
      type: object
      description: Core Ingest check model.
      properties:
        id:
          type: string
          format: uuid
        config:
          type: string
          format: fluent-bit configuration
        status:
          $ref: "#/components/schemas/CheckStatus"
        collectLogs:
          type: boolean
          default: false
        logs:
          type: string
          format: byte
        retries:
          type: number
          default: 0
          description: number of retries for the check before marking it as failed
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
      required:
        - id
        - config
        - status
        - retries
        - createdAt
        - updatedAt
    PipelineFile:
      type: object
      description: Pipeline file model.
      properties:
        id:
          type: string
          format: uuid
        processingRuleID:
          type: string
          format: uuid
          nullable: true
          default: null
        name:
          type: string
          example: myfile
        contents:
          type: string
          format: byte
        encrypted:
          type: boolean
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
      required:
        - id
        - processingRuleID
        - name
        - contents
        - encrypted
        - createdAt
        - updatedAt
    PipelineSecret:
      type: object
      description: Pipeline secret model.
      properties:
        id:
          type: string
          format: uuid
        key:
          type: string
          example: mysecret
        value:
          type: string
          format: byte
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
      required:
        - id
        - key
        - value
        - createdAt
        - updatedAt
    PipelinePort:
      type: object
      description: Pipeline port model.
      properties:
        id:
          type: string
          format: uuid
        protocol:
          type: string
          example: tcp
        kind:
          $ref: "#/components/schemas/PipelinePortKind"
        frontendPort:
          type: integer
          format: int32
          minimum: 0
        backendPort:
          type: integer
          format: int32
          minimum: 0
        endpoint:
          type: string
        pluginID:
          type: string
          nullable: true
          default: null
          example: forward.0
        pluginName:
          type: string
          nullable: true
          default: null
          example: forward
        pluginAlias:
          type: string
          nullable: true
          default: null
          example: myforwardinput
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
      required:
        - id
        - protocol
        - kind
        - frontendPort
        - backendPort
        - endpoint
        - pluginID
        - pluginName
        - pluginAlias
        - createdAt
        - updatedAt
    ProjectMetrics:
      type: object
      description: Project metrics model.
      properties:
        measurements:
          type: object
          additionalProperties:
            type: object
            properties:
              totals:
                type: object
                additionalProperties:
                  type: number
                  format: float
                  nullable: true
                  default: null
              plugins:
                type: object
                additionalProperties:
                  $ref: "#/components/schemas/Metrics"
            required:
              - totals
              - plugins
        topPlugins:
          type: object
          additionalProperties:
            type: object
            additionalProperties:
              type: number
              format: float
              nullable: true
              default: null
      required:
        - measurements
        - topPlugins
    AgentMetrics:
      type: object
      description: Agent metrics model.
      properties:
        measurements:
          type: object
          additionalProperties:
            type: object
            properties:
              plugins:
                type: object
                additionalProperties:
                  $ref: "#/components/schemas/Metrics"
              totals:
                type: object
                additionalProperties:
                  type: array
                  items:
                    $ref: "#/components/schemas/MetricFields"
            required:
              - plugins
              - totals
      required:
        - measurements
    AggregatorMetrics:
      type: object
      description: Agent metrics model.
      properties:
        measurements:
          type: object
          additionalProperties:
            type: object
            properties:
              metrics:
                type: object
                additionalProperties:
                  type: array
                  items:
                    $ref: "#/components/schemas/MetricFields"
              totals:
                type: object
                additionalProperties:
                  type: array
                  items:
                    $ref: "#/components/schemas/MetricFields"
            required:
              - metrics
              - totals
      required:
        - measurements
      example: |
        {
          "measurements": {
            "fluentbit_filter": {
              "metrics": {
                "drop_records": [
                  {
                    "time": "2022-02-07T11:00:00Z",
                    "value": 0
                  },
                  {
                    "time": "2022-02-07T12:00:00Z",
                    "value": 0
                  },
                  {
                    "time": "2022-02-07T12:55:20.003028413Z",
                    "value": 119
                  }
                ],
                "emit_records": [
                  {
                    "time": "2022-02-07T11:00:00Z",
                    "value": 0
                  },
                  {
                    "time": "2022-02-07T12:00:00Z",
                    "value": 0
                  },
                  {
                    "time": "2022-02-07T12:55:20.003028413Z",
                    "value": 119
                  }
                ]
              },
              "totals": {
                "drop_records": [
                  {
                    "time": "2022-02-07T12:55:04.78743322Z",
                    "value": 119
                  }
                ],
                "emit_records": [
                  {
                    "time": "2022-02-07T12:55:04.787434277Z",
                    "value": 119
                  }
                ]
              }
            },
            "fluentbit_input": {
              "metrics": {
                "bytes": [
                  {
                    "time": "2022-02-07T11:00:00Z",
                    "value": 0
                  },
                  {
                    "time": "2022-02-07T12:00:00Z",
                    "value": 0
                  },
                  {
                    "time": "2022-02-07T12:55:20.029124832Z",
                    "value": 4760
                  }
                ],
                "records": [
                  {
                    "time": "2022-02-07T11:00:00Z",
                    "value": 0
                  },
                  {
                    "time": "2022-02-07T12:00:00Z",
                    "value": 0
                  },
                  {
                    "time": "2022-02-07T12:55:20.029124832Z",
                    "value": 119
                  }
                ]
              },
              "totals": {
                "bytes": [
                  {
                    "time": "2022-02-07T12:55:04.787450155Z",
                    "value": 4760
                  }
                ],
                "records": [
                  {
                    "time": "2022-02-07T12:55:04.787450155Z",
                    "value": 119
                  }
                ]
              }
            },
            "fluentbit_output": {
              "metrics": {
                "bytes": [
                  {
                    "time": "2022-02-07T11:00:00Z",
                    "value": 0
                  },
                  {
                    "time": "2022-02-07T12:00:00Z",
                    "value": 0
                  },
                  {
                    "time": "2022-02-07T12:55:20.059227599Z",
                    "value": 4560
                  }
                ],
                "records": [
                  {
                    "time": "2022-02-07T11:00:00Z",
                    "value": 0
                  },
                  {
                    "time": "2022-02-07T12:00:00Z",
                    "value": 0
                  },
                  {
                    "time": "2022-02-07T12:55:20.059227599Z",
                    "value": 114
                  }
                ]
              },
              "totals": {
                "bytes": [
                  {
                    "time": "2022-02-07T12:55:00.785234434Z",
                    "value": 4560
                  }
                ],
                "records": [
                  {
                    "time": "2022-02-07T12:55:00.785234434Z",
                    "value": 114
                  }
                ]
              }
            }
          }
        }
    AggregatorPipelinesMetrics:
      type: object
      description: Map of metrics/error for each pipeline ID.
      additionalProperties:
        type: object
        properties:
          data:
            $ref: "#/components/schemas/AgentMetrics"
          error:
            type: string
            nullable: true
            default: null
        required: [data, error]
    Metrics:
      type: object
      description: Metrics model.
      properties:
        metrics:
          type: object
          additionalProperties:
            type: array
            items:
              $ref: "#/components/schemas/MetricFields"
      required:
        - metrics
    MetricFields:
      type: object
      description: Metric fields model.
      properties:
        time:
          type: string
          format: date-time
        value:
          type: number
          format: float
          nullable: true
          default: null
      required:
        - time
        - value
    CreateProject:
      description: Create project request body.
      type: object
      properties:
        name:
          type: string
          example: new-project
      required:
        - name
    UpdateProject:
      description: Update project request body.
      type: object
      properties:
        name:
          type: string
          example: new-project
          nullable: true
          default: null
    CreateToken:
      description: Create token request body.
      type: object
      properties:
        name:
          type: string
          example: new-token
        permissions:
          type: array
          items:
            $ref: "#/components/schemas/Permission"
      required:
        - name
        - permissions
    Permission:
      type: string
      enum:
        - "create:*"
        - "read:*"
        - "update:*"
        - "delete:*"
    UpdateToken:
      description: Update token request body.
      type: object
      properties:
        name:
          type: string
          example: new-token
          nullable: true
          default: null
        permissions:
          description: An empty list means it has all permissions.
          type: array
          uniqueItems: true
          items:
            $ref: "#/components/schemas/Permission"
          nullable: true
    CreateInvitation:
      description: Create invitation request body.
      type: object
      properties:
        email:
          type: string
          format: email
        permissions:
          description: An empty list means it has all permissions.
          type: array
          uniqueItems: true
          items:
            $ref: "#/components/schemas/Permission"
        redirectURI:
          type: string
          format: uri
      required:
        - email
        - permissions
        - redirectURI
    AcceptInvitation:
      description: Accept invitation request body.
      type: object
      properties:
        token:
          type: string
          example: redacted
      required:
        - token
    RegisterAgent:
      description: Register agent request body.
      type: object
      properties:
        fleetID:
          type: string
          format: uuid
          nullable: true
          default: null
        name:
          type: string
          example: new-agent
          format: hostname
        machineID:
          type: string
        type:
          type: string
          enum:
            - fluentbit
            - fluentd
        version:
          type: string
          example: v1.8.6
        edition:
          type: string
          enum:
            - community
            - enterprise
        flags:
          type: array
          nullable: true
          default: null
          items:
            type: string
        rawConfig:
          type: string
        metadata:
          type: object
          nullable: true
          default: null
        environmentID:
          type: string
          nullable: true
          default: null
          description: environment ID to associate this agent with.
      required:
        - name
        - machineID
        - type
        - version
        - edition
        - flags
        - rawConfig
    UpdateAgent:
      description: Update agent request body.
      type: object
      properties:
        fleetID:
          type: string
          format: uuid
          nullable: true
          default: null
        name:
          type: string
          example: new-agent
          format: hostname
          nullable: true
          default: null
        version:
          type: string
          example: v1.8.6
          nullable: true
          default: null
        edition:
          type: string
          enum:
            - community
            - enterprise
          nullable: true
          default: null
        flags:
          type: array
          nullable: true
          default: null
          items:
            type: string
        rawConfig:
          type: string
          nullable: true
          default: null
        metadata:
          type: object
          nullable: true
          default: null
        environmentID:
          type: string
          nullable: true
          default: null
          description: environment ID to associate this agent with.
    CreateAggregator:
      description: Create core instance request body.
      type: object
      properties:
        name:
          type: string
          format: hostname
          example: new-core-instance
        image:
          type: string
          description: default core-fluent-bit image to use by the pipelines created on this core_instance.
          example: ghcr.io/calyptia/core/calyptia-fluent-bit:23.1.2
          nullable: true
          default: null
        version:
          type: string
          example: v0.1.12
        addHealthCheckPipeline:
          type: boolean
        clusterLogging:
          type: boolean
          description: Enable cluster-logging functionality on this core instance.
        healthCheckPipelinePort:
          type: integer
          format: int32
          minimum: 0
        healthCheckPipelinePortKind:
          $ref: "#/components/schemas/PipelinePortKind"
        metadata:
          type: object
          nullable: true
          default: null
        environmentID:
          type: string
          nullable: true
          default: null
          description: environment ID to associate this core instance with.
        skipServiceCreation:
          type: boolean
          nullable: true
          default: null
          description: |
            If true, kubernetes service creation will be skipped for all pipelines
            that exists on this core_instance.
      required:
        - name
        - version
        - addHealthCheckPipeline
        - healthCheckPipelinePort
        - healthCheckPipelinePortKind
    UpdateAggregator:
      description: Update core instance request body.
      type: object
      properties:
        name:
          type: string
          format: hostname
          example: new-core-instance
          nullable: true
          default: null
        image:
          type: string
          description: default core-fluent-bit image to use by the pipelines created on this core_instance.
          example: ghcr.io/calyptia/core/calyptia-fluent-bit:23.1.2
          nullable: true
          default: null
        clusterLogging:
          type: boolean
          description: enable or disable cluster-logging functionality.
          nullable: true
          default: null
        version:
          type: string
          example: v0.1.12
          nullable: true
          default: null
        tags:
          type: array
          nullable: true
          default: null
          items:
            type: string
        metadata:
          $ref: "#/components/schemas/CoreInstanceMetadata"
        environmentID:
          type: string
          nullable: true
          default: null
          description: environment ID to associate this core instance with.
        skipServiceCreation:
          type: boolean
          nullable: true
          default: null
          description: |
            If true, kubernetes service creation will be skipped for all pipelines
            that exists on this core_instance.
    CreateResourceProfile:
      description: Create resource profile request body.
      type: object
      properties:
        name:
          type: string
          example: my-resource-profile
        storageMaxChunksUp:
          type: integer
          format: int32
        storageSyncFull:
          type: boolean
        storageBacklogMemLimit:
          type: string
          example: 1Mi
        storageVolumeSize:
          type: string
          example: 2Mi
        storageMaxChunksPause:
          type: boolean
        cpuBufferWorkers:
          type: integer
          format: int32
        cpuLimit:
          type: string
          example: 3Mi
        cpuRequest:
          type: string
          example: 4Mi
        memoryLimit:
          type: string
          example: 5Mi
        memoryRequest:
          type: string
          example: 6Mi
      required:
        - name
        - storageMaxChunksUp
        - storageSyncFull
        - storageBacklogMemLimit
        - storageVolumeSize
        - storageMaxChunksPause
        - cpuBufferWorkers
        - cpuLimit
        - cpuRequest
        - memoryLimit
        - memoryRequest
    UpdateResourceProfile:
      description: Update resource profile request body.
      type: object
      properties:
        name:
          type: string
          example: my-resource-profile
          nullable: true
          default: null
        storageMaxChunksUp:
          type: integer
          format: int32
          nullable: true
          default: null
        storageSyncFull:
          type: boolean
          nullable: true
          default: null
        storageBacklogMemLimit:
          type: string
          example: 1Mi
          nullable: true
          default: null
        storageVolumeSize:
          type: string
          example: 2Mi
          nullable: true
          default: null
        storageMaxChunksPause:
          type: boolean
          nullable: true
          default: null
        cpuBufferWorkers:
          type: integer
          format: int32
          nullable: true
          default: null
        cpuLimit:
          type: string
          example: 3Mi
          nullable: true
          default: null
        cpuRequest:
          type: string
          example: 4Mi
          nullable: true
          default: null
        memoryLimit:
          type: string
          example: 5Mi
          nullable: true
          default: null
        memoryRequest:
          type: string
          example: 6Mi
          nullable: true
          default: null
    CreatePipeline:
      description: Create pipeline request body.
      type: object
      properties:
        name:
          type: string
          description: DNS label format as of defined on RFC1123
          example: new-pipeline
        kind:
          $ref: "#/components/schemas/PipelineKind"
        replicasCount:
          type: integer
          minimum: 0
        rawConfig:
          type: string
        configFormat:
          $ref: "#/components/schemas/ConfigFormat"
        image:
          type: string
          example: ghcr.io/calyptia/core/calyptia-fluent-bit:23.1.2
          nullable: true
          default: null
        secrets:
          type: array
          nullable: true
          default: null
          items:
            $ref: "#/components/schemas/CreatePipelineSecret"
        files:
          type: array
          nullable: true
          default: null
          items:
            $ref: "#/components/schemas/CreatePipelineFile"
        resourceProfile:
          type: string
          example: my-resource-profile
        noAutoCreateChecksFromConfig:
          type: boolean
          default: false
          description: |
            If true, no Pipeline checks will be auto-generated from
            the configuration.
        autoCreateChecksFromConfig:
          type: boolean
          deprecated: true
          default: false
          description: |
            If true, this will automatically create a set of Pipeline checks
            to validate that the configured output services are reachable.
        waitForChecksBeforeDeploying:
          type: boolean
          default: false
          description: |
            If set to true:

            If all checks associated with the pipeline run successfully, the status of
            the pipeline will be switched to CHECKS_OK and the deployment will be executed.

            If any of the checks associated with the pipeline fails, the status of
            the pipeline will be switched to CHECKS_FAILED and the deployment of the pipeline
            will be blocked.

            If set to false (default):

            If all checks associated with the pipeline run successfully, the status of
            the pipeline will be switched to CHECKS_OK and the deployment will be executed.

            If any of the checks associated with the pipeline fails, the status of
            the pipeline will be switched to CHECKS_FAILED and the deployment of the pipeline
            will be executed.
        noAutoCreateEndpointsFromConfig:
          type: boolean
          default: false
          description: if true, no ports will be automatically generated from the configuration.
        autoCreatePortsFromConfig:
          type: boolean
          default: false
          deprecated: true
        skipConfigValidation:
          type: boolean
        metadata:
          type: object
          nullable: true
          default: null
          additionalProperties: true
        portKind:
          $ref: "#/components/schemas/PipelinePortKind"
        minReplicas:
          type: integer
          default: 0
        maxReplicas:
          type: integer
          default: 0
        scaleUpType:
          $ref: "#/components/schemas/ScalePolicy"
        scaleUpValue:
          type: integer
          default: 0
        scaleUpPeriodSeconds:
          type: integer
          default: 0
        scaleDownType:
          $ref: "#/components/schemas/ScalePolicy"
        scaleDownValue:
          type: integer
          default: 0
        scaleDownPeriodSeconds:
          type: integer
          default: 0
        utilizationCPUAverage:
          type: integer
          default: 0
        utilizationMemoryAverage:
          type: integer
          default: 0
        labels:
          type: object
          nullable: true
          default: null
          additionalProperties:
            type: string
        affinity:
          $ref: "#/components/schemas/Affinity"
          nullable: true
        topologySpreadConstraints:
          type: array
          nullable: true
          items:
            $ref: "#/components/schemas/TopologySpreadConstraint"

      required:
        - name
        - replicasCount
        - rawConfig
        - image
        - secrets
        - files
        - resourceProfile
        - skipConfigValidation
        - portKind
        - minReplicas
        - maxReplicas
        - scaleUpType
        - scaleUpValue
        - scaleUpPeriodSeconds
        - scaleDownType
        - scaleDownValue
        - scaleDownPeriodSeconds
        - utilizationCPUAverage
        - utilizationMemoryAverage

    ScalePolicy:
      type: string
      enum:
        - Unknown
        - Pods
        - Percent
      default: "Unknown"

    Affinity:
      type: object
      properties:
        key:
          type: string
        operator:
          $ref: "#/components/schemas/NodeSelectorOperator"
        values:
          type: array
          nullable: true
          items:
            type: string
      required:
        - key
        - operator
        - values

    NodeSelectorOperator:
      type: string
      enum:
        - In
        - NotIn
        - Exists
        - DoesNotExist
        - Gt
        - Lt

    TopologySpreadConstraint:
      type: object
      properties:
        maxSkew:
          type: integer
          format: int32
        topologyKey:
          type: string
        whenUnsatisfiable:
          $ref: "#/components/schemas/UnsatisfiableConstraintAction"
        labelSelector:
          type: object
          nullable: true
          additionalProperties:
            type: string
        minDomains:
          type: integer
          format: int32
          nullable: true
      required:
        - maxSkew
        - topologyKey
        - whenUnsatisfiable
        - labelSelector
        - minDomains

    UnsatisfiableConstraintAction:
      type: string
      enum:
        - DoNotSchedule
        - ScheduleAnyway

    UpdatePipeline:
      description: Update pipeline request body.
      type: object
      properties:
        name:
          type: string
          description: DNS label format as of defined on RFC1123
          example: new-pipeline
          nullable: true
          default: null
        kind:
          type: string
          description: Kind of deployment used when deploying this pipeline
          default: deployment
          enum:
            - daemonSet
            - deployment
        deploymentStrategy:
          type: string
          description: |
            The deployment strategy to use when creating or updating changes to this pipeline.
          default: rollingupdate
          enum:
            - rollingupdate
            - hotReload
        replicasCount:
          type: integer
          minimum: 0
          nullable: true
          default: null
        rawConfig:
          type: string
          nullable: true
          default: null
        configFormat:
          type: string
          enum:
            - ini
            - json
            - yaml
          nullable: true
          default: null
        image:
          type: string
          example: ghcr.io/calyptia/core/calyptia-fluent-bit:23.1.2
          nullable: true
          default: null
        secrets:
          type: array
          nullable: true
          default: null
          items:
            $ref: "#/components/schemas/UpdatePipelineSecret"
        files:
          type: array
          nullable: true
          default: null
          items:
            $ref: "#/components/schemas/UpdatePipelineFile"
        resourceProfile:
          type: string
          example: my-resource-profile
          nullable: true
          default: null
        noAutoCreateEndpointsFromConfig:
          type: boolean
          nullable: true
          default: null
        noAutoCreateChecksFromConfig:
          type: boolean
          nullable: true
          default: null
        autoCreatePortsFromConfig:
          type: boolean
          nullable: true
          default: null
          deprecated: true
        autoCreateChecksFromConfig:
          type: boolean
          nullable: true
          default: null
          deprecated: true
        skipConfigValidation:
          type: boolean
          default: false
        checksBeforeDeploying:
          type: boolean
          nullable: true
          default: null
          description: |
            If set to true:

            If all checks associated with the pipeline run successfully, the status of
            the pipeline will be switched to CHECKS_OK and the deployment will be executed.

            If any of the checks associated with the pipeline fails, the status of
            the pipeline will be switched to CHECKS_FAILED and the deployment of the pipeline
            will be blocked.

            If set to false (default):

            If all checks associated with the pipeline run successfully, the status of
            the pipeline will be switched to CHECKS_OK and the deployment will be executed.

            If any of the checks associated with the pipeline fails, the status of
            the pipeline will be switched to CHECKS_FAILED and the deployment of the pipeline
        status:
          type: string
          nullable: true
          default: null
          enum:
            - NEW
            - FAILED
            - STARTING
            - STARTED
            - SCALING
            - CHECKS_OK
            - CHECKS_FAILED            -
        portKind:
          $ref: "#/components/schemas/PipelinePortKind"
          nullable: true
          default: null
        events:
          type: array
          nullable: true
          default: null
          items:
            $ref: "#/components/schemas/PipelineEvent"
        metadata:
          type: object
          nullable: true
          default: null
          additionalProperties: true
        minReplicas:
          type: integer
          nullable: true
          default: null
        maxReplicas:
          type: integer
          nullable: true
          default: null
        scaleUpType:
          $ref: "#/components/schemas/ScalePolicy"
          nullable: true
          default: null
        scaleUpValue:
          type: integer
          nullable: true
          default: null
        scaleUpPeriodSeconds:
          type: integer
          nullable: true
          default: null
        scaleDownType:
          $ref: "#/components/schemas/ScalePolicy"
          nullable: true
          default: null
        scaleDownValue:
          type: integer
          nullable: true
          default: null
        scaleDownPeriodSeconds:
          type: integer
          nullable: true
          default: null
        utilizationCPUAverage:
          type: integer
          nullable: true
          default: null
        utilizationMemoryAverage:
          type: integer
          nullable: true
          default: null
        labels:
          type: object
          nullable: true
          default: null
          additionalProperties:
            type: string
        affinity:
          $ref: "#/components/schemas/Affinity"
          nullable: true
        topologySpreadConstraints:
          type: array
          nullable: true
          items:
            $ref: "#/components/schemas/TopologySpreadConstraint"
    CreatePipelineCheck:
      description: Create pipeline check request body.
      type: object
      properties:
        protocol:
          $ref: "#/components/schemas/PipelinePortProtocol"
        status:
          $ref: "#/components/schemas/CheckStatus"
        retries:
          type: number
          default: 3
          description: number of retries for the check before marking it as failed
        host:
          type: string
          description: DNS label format as of defined on RFC1123 or an IPv4 address.
          example: localhost
        port:
          type: number
          minimum: 0
          maximum: 65535
          description: valid 0-65535 port number
      required:
        - protocol
        - host
        - port
    CreateCoreInstanceCheck:
      description: Create core instance check request body.
      type: object
      properties:
        protocol:
          $ref: "#/components/schemas/PipelinePortProtocol"
        status:
          $ref: "#/components/schemas/CheckStatus"
        retries:
          type: number
          default: 3
          description: number of retries for the check before marking it as failed
        host:
          type: string
          description: DNS label format as of defined on RFC1123 or an IPv4 address.
          example: localhost
        port:
          type: number
          description: valid 0-65535 port number
      required:
        - protocol
        - host
        - port
    CreateIngestCheck:
      description: Create core instance Ingest check request body.
      type: object
      properties:
        status:
          $ref: "#/components/schemas/CheckStatus"
        retries:
          type: number
          default: 3
          description: number of retries for the check before marking it as failed
        configSectionID:
          type: string
          description: |
            config section UUID to be used on this Ingest check.
            Note that the ingest check config section's kind has to be of either type input or output.
          format: uuid
        collectLogs:
          type: boolean
          default: false
          description: |
            Determine if the logs for the fluent-bit pod should be forwarded
            to Calyptia.
      required:
        - status
        - retries
        - configSectionID
    CreatePipelineFile:
      description: Create pipeline file request body.
      type: object
      properties:
        name:
          type: string
          example: newfile
        contents:
          type: string
          format: byte
        encrypted:
          type: boolean
      required:
        - name
        - contents
        - encrypted
    UpdatePipelineFile:
      description: Update pipeline file request body.
      type: object
      properties:
        name:
          type: string
          example: newfile
          nullable: true
          default: null
        contents:
          type: string
          format: byte
          nullable: true
          default: null
        encrypted:
          type: boolean
          nullable: true
          default: null
    UpdatePipelineCheck:
      description: Update pipeline check request body.
      type: object
      properties:
        protocol:
          $ref: "#/components/schemas/PipelinePortProtocol"
          nullable: true
          default: null
        status:
          $ref: "#/components/schemas/CheckStatus"
          nullable: true
          default: null
        retries:
          type: number
          nullable: true
          default: null
          description: number of retries for the check before marking it as unreachable.
        host:
          type: string
          nullable: true
          default: null
          description: DNS label format as of defined on RFC1123 or an IPv4 address.
          example: localhost
        port:
          type: number
          minimum: 0
          maximum: 65535
          nullable: true
          default: null
          description: valid 0-65535 port number
    UpdateCoreInstanceCheck:
      description: Update a core instance check request body.
      type: object
      properties:
        protocol:
          $ref: "#/components/schemas/PipelinePortProtocol"
          nullable: true
          default: null
        status:
          $ref: "#/components/schemas/CheckStatus"
          nullable: true
          default: null
        host:
          type: string
          nullable: true
          default: null
          description: DNS label format as of defined on RFC1123 or an IPv4 address.
          example: localhost
        port:
          type: number
          minimum: 0
          maximum: 65535
          nullable: true
          default: null
          description: valid 0-65535 port number
        retries:
          type: number
          nullable: true
          default: null
          description: number of retries for the check before marking it as unreachable.
    UpdateIngestCheck:
      description: Update a core instance Ingest check request body.
      type: object
      properties:
        logs:
          description: logs coming from the fluent-bit pod, maximum size is 10MiB.
          nullable: true
          default: null
          type: string
        status:
          $ref: "#/components/schemas/CheckStatus"
          nullable: true
          default: null
    CreatePipelineSecret:
      description: Create pipeline secret request body.
      type: object
      properties:
        key:
          type: string
          example: newsecret
        value:
          type: string
          format: byte
      required:
        - key
        - value
    UpdatePipelineSecret:
      description: Update pipeline secret request body.
      type: object
      properties:
        key:
          type: string
          example: newsecret
          nullable: true
          default: null
        value:
          type: string
          format: byte
          nullable: true
          default: null
    CreatePipelinePort:
      description: Create pipeline port request body.
      type: object
      properties:
        protocol:
          type: string
          example: tcp
        frontendPort:
          type: integer
          format: int32
          minimum: 0
        backendPort:
          type: integer
          format: int32
          minimum: 0
        endpoint:
          type: string
        kind:
          deprecated: true
          $ref: "#/components/schemas/PipelinePortKind"
      required:
        - protocol
        - frontendPort
        - backendPort
        - endpoint
    UpdatePipelinePort:
      description: Update pipeline port request body.
      type: object
      properties:
        protocol:
          type: string
          example: tcp
          nullable: true
          default: null
        frontendPort:
          type: integer
          format: int32
          nullable: true
          default: null
        backendPort:
          type: integer
          format: int32
          nullable: true
          default: null
        endpoint:
          type: string
          nullable: true
          default: null
        kind:
          deprecated: true
          type: string
          description: The kind/type of the service associated to this port.
          default: null
          nullable: true
          enum:
            - LoadBalancer
            - ClusterIP
            - NodePort
    ValidatingConfig:
      description: Validating configuration request body.
      type: object
      properties:
        config:
          type: array
          items:
            type: object
            properties:
              command:
                type: string
              name:
                type: string
              optional:
                type: object
                additionalProperties:
                  type: string
                nullable: true
                default: null
              id:
                type: string
            required:
              - command
              - name
              - id
      required:
        - config
    CreatedProject:
      type: object
      description: Created project response body.
      properties:
        id:
          type: string
        token:
          type: string
          example: redacted
        createdAt:
          type: string
          format: date-time
        membership:
          $ref: "#/components/schemas/Membership"
      required:
        - id
        - token
        - createdAt
        - membership
    RegisteredAgent:
      type: object
      description: Registered agent response body.
      properties:
        id:
          type: string
          format: uuid
        token:
          type: string
          example: redacted
        name:
          type: string
          example: my-agent
        createdAt:
          type: string
          format: date-time
        environmentName:
          type: string
          description: environment name on which the agent belongs to.
          default: default
      required:
        - id
        - token
        - name
        - createdAt
    CreatedAggregator:
      type: object
      description: Created core instance response body.
      properties:
        id:
          type: string
          format: uuid
        privateRSAKey:
          type: string
          format: byte
        publicRSAKey:
          type: string
          format: byte
        name:
          type: string
          format: hostname
          example: my-core-instance
        version:
          type: string
          example: v0.1.12
        image:
          type: string
          description: default core-fluent-bit image to use by the pipelines created on this core_instance.
          example: ghcr.io/calyptia/core/calyptia-fluent-bit:23.1.2
          default: ""
        tags:
          type: array
          items:
            type: string
          nullable: true
          default: null
        healthCheckPipeline:
          $ref: "#/components/schemas/Pipeline"
          nullable: true
          default: null
        clusterLoggingPipeline:
          $ref: "#/components/schemas/Pipeline"
          nullable: true
          default: null
        resourceProfiles:
          type: array
          items:
            $ref: "#/components/schemas/ResourceProfile"
        environmentName:
          type: string
          description: environment name on which the agent belongs to.
          default: default
        skipServiceCreation:
          type: boolean
          default: false
        createdAt:
          type: string
          format: date-time
      required:
        - id
        - privateRSAKey
        - publicRSAKey
        - name
        - version
        - image
        - tags
        - clusterLoggingPipeline
        - healthCheckPipeline
        - resourceProfiles
        - environmentName
        - skipServiceCreation
        - createdAt
    CreatedResourceProfile:
      type: object
      description: Created resource profile response body.
      properties:
        id:
          type: string
          format: uuid
        createdAt:
          type: string
          format: date-time
      required:
        - id
        - createdAt
    CreatedPipeline:
      type: object
      description: Created pipeline response body.
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
          example: my-pipeline
        kind:
          $ref: "#/components/schemas/PipelineKind"
        config:
          $ref: "#/components/schemas/PipelineConfig"
        status:
          $ref: "#/components/schemas/PipelineStatus"
        secrets:
          type: array
          items:
            $ref: "#/components/schemas/PipelineSecret"
        files:
          type: array
          items:
            $ref: "#/components/schemas/PipelineFile"
        resourceProfile:
          $ref: "#/components/schemas/ResourceProfile"
        checks:
          type: array
          items:
            $ref: "#/components/schemas/PipelineCheck"
        createdAt:
          type: string
          format: date-time
    UpdatedPipeline:
      type: object
      description: Updated pipeline response body.
      properties:
        addedPorts:
          type: array
          items:
            $ref: "#/components/schemas/PipelinePort"
        removedPorts:
          type: array
          items:
            $ref: "#/components/schemas/PipelinePort"
        addedChecks:
          type: array
          items:
            $ref: "#/components/schemas/PipelineCheck"
        removedChecks:
          type: array
          items:
            $ref: "#/components/schemas/PipelineCheck"
    CreatedPipelineFile:
      type: object
      description: Created pipeline file response body.
      properties:
        id:
          type: string
          format: uuid
        createdAt:
          type: string
          format: date-time
      required:
        - id
        - createdAt
    CreatedPipelineCheck:
      type: object
      description: Created pipeline check response body.
      properties:
        id:
          type: string
          format: uuid
        createdAt:
          type: string
          format: date-time
      required:
        - id
        - createdAt
    CreatedCoreInstanceCheck:
      type: object
      description: Created core instance check response body.
      properties:
        id:
          type: string
          format: uuid
        createdAt:
          type: string
          format: date-time
      required:
        - id
        - createdAt
    CreatedIngestCheck:
      type: object
      description: Created core instance Ingest check response body.
      properties:
        id:
          type: string
          format: uuid
        createdAt:
          type: string
          format: date-time
      required:
        - id
        - createdAt
    CreatedPipelineSecret:
      type: object
      description: Created pipeline secret response body.
      properties:
        id:
          type: string
          format: uuid
        createdAt:
          type: string
          format: date-time
      required:
        - id
        - createdAt
    CreatedPipelinePort:
      type: object
      description: Created pipeline port response body.
      properties:
        id:
          type: string
          format: uuid
        kind:
          type: string
          default: null
          nullable: true
        pluginID:
          type: string
          nullable: true
          default: null
          example: forward.0
        pluginName:
          type: string
          nullable: true
          default: null
          example: forward
        pluginAlias:
          type: string
          nullable: true
          default: null
          example: myforwardinput
        createdAt:
          type: string
          format: date-time
[...]
