name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

jobs:
  component-test:
    name: Run component tests against Cloud image
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: read
    steps:
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - uses: actions/checkout@v4
        with:
          repository: chronosphereio/calyptia-api
          token: ${{ secrets.GITHUB_TOKEN }}

      - uses: actions/checkout@v4
        with:
          repository: chronosphereio/calyptia-cloud
          token: ${{ secrets.CALYPTIA_CI_PAT }}
          ref: "main"
          path: scripts/resources/cloud

      - run: |
          ./scripts/setup-tests.sh
          ./scripts/run-tests.sh
        env:
          TEST_AUTH0_DOMAIN: ${{ secrets.TEST_AUTH0_DOMAIN }}
          TEST_AUTH0_MANAGEMENT_CLIENT_ID: ${{ secrets.TEST_AUTH0_MANAGEMENT_CLIENT_ID }}
          TEST_AUTH0_MANAGEMENT_CLIENT_SECRET: ${{ secrets.TEST_AUTH0_MANAGEMENT_CLIENT_SECRET }}
        shell: bash
        timeout-minutes: 10

      - name: Dump docker logs on failure
        if: failure()
        continue-on-error: true
        uses: jwalton/gh-docker-logs@v2
