name: Lint on pull requests (or manually)
on:
  pull_request:
  workflow_dispatch:
jobs:
  lint:
    runs-on: ubuntu-latest
    name: PR - Linters
    steps:
      - name: Setup Golang
        uses: actions/setup-go@v2
        with:
          go-version: "^1.18"

      - name: Checkout
        uses: actions/checkout@v3

      - name: Go Lint
        uses: golangci/golangci-lint-action@v3.1.0
        with:
          version: v1.45.2

      - name: Run golangci lint
        if: github.event_name == 'pull_request'
        uses: reviewdog/action-golangci-lint@v2

      - name: Run Markdown lint
        uses: actionshub/markdownlint@2.0.2

      - name: Run Action lint
        run: |
          echo "::add-matcher::.github/actionlint-matcher.json"
          bash <(curl https://raw.githubusercontent.com/rhysd/actionlint/main/scripts/download-actionlint.bash)
          ./actionlint -color -shellcheck=
        shell: bash

  sonarcloud:
    runs-on: ubuntu-latest
    name: PR - Sonarcloud
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - uses: FranzDiebold/github-env-vars-action@v2

      - name: SonarCloud Scan
        uses: sonarsource/sonarcloud-github-action@v1.6
        with:
          args: >
            -Dsonar.organization=calyptia
            -Dsonar.projectKey=calyptia_${{ env.CI_REPOSITORY_NAME_SLUG }}
            -Dsonar.sources=.
            -Dsonar.exclusions=**/*_test.go
            -Dsonar.tests=.
            -Dsonar.test.inclusions=**/*_test.go
            -Dsonar.go.coverage.reportPaths=coverage.out
        env:
          GITHUB_TOKEN: ${{ secrets.CI_PAT }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
